<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/static/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/error.css" />

  <script src="/static/js/common.js"></script>
  <script src="/static/js/util.js"></script>
  <script src="/static/js/api/clan.js"></script>
  <script src="/static/js/api/player.js"></script>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/dayjs.min.js" integrity="sha512-FwNWaxyfy2XlEINoSnZh1JQ5TRRtGow0D6XcmAWmYCRgvqOUTnzCxPc9uF35u5ZEpirk1uhlPVA19tflhvnW1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/locale/ko.min.js" integrity="sha512-ycjm4Ytoo3TvmzHEuGNgNJYSFHgsw/TkiPrGvXXkR6KARyzuEpwDbIfrvdf6DwXm+b1Y+fx6mo25tBr1Icg7Fw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script lang="javascript" src="https://cdn.sheetjs.com/xlsx-0.20.2/package/dist/xlsx.full.min.js"></script>

  <script>
    dayjs.locale('ko')
  </script>

  <script>
    async function downloadAllClanMembers() {
      if (!confirm("전체 클랜원 정보를 다운받으시겠습니까?")) {
        return;
      }

      let clanAllPlayers = await fetchAllClanPlayers();
      exportExcel(clanAllPlayers);
    }
  </script>

  <title>아카데미 클랜 운영기능</title>
</head>
<body>
  <div class="error display-none">
    <div class="card">
      <div class="header">
        <div class="top">
          <div class="circle">
            <span class="red circle2"></span>
          </div>
          <div class="circle">
            <span class="yellow circle2"></span>
          </div>
          <div class="circle">
            <span class="green circle2"></span>
          </div>
          <div class="title">
            <p id="title2">서버 점검</p>
          </div>
        </div>
      </div>
      <div class="code-container">
        <label for="code">
          <textarea readonly="" name="code" id="code" class="area"></textarea>
        </label>
      </div>
    </div>

  </div>
  <div class="home-wrapper">
    <div class="logo"></div>

    <div class="contents">

      <div class="card-group">
        <div class="title">클랜 관리</div>

        <div class="cards">
          <div class="card red-1" onclick="renderPage('/clan/cms/member/manager'); return false;">
            <p class="tip">클랜원 관리</p>
            <p class="second-text">(클랜원 등록/삭제)</p>
          </div>

          <div class="card red-2" onclick="renderPage('/clan/cms/clan/manager'); return false;">
            <p class="tip">클랜 관리</p>
            <p class="second-text">(클랜 등록/삭제)</p>
          </div>
        </div>

        <div class="cards">
          <div class="card red-9" onclick="downloadAllClanMembers(); return false;">
            <p class="tip">전체 클랜원</p>
            <p class="second-text">(엑셀 다운)</p>
          </div>
        </div>
      </div>

      <div class="card-group">
        <div class="title">컨텐츠 관리</div>

        <div class="cards">
          <div class="card coral-1" onclick="renderPage('/clan/cms/raid/score'); return false;">
            <p class="tip">습격전 기록 조회</p>
            <p class="second-text"></p>
          </div>

          <div class="card coral" onclick="renderPage('/clan/cms/raid'); return false;">
            <p class="tip">습격전 위반 현황</p>
            <p class="second-text">(직전 주 2만점 이하)</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>
</html>