<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
  <meta name="format-detection" content="telephone=no, email=no, address=no, date=no">

  <title>클랜전 캘린더</title>

  <link rel="stylesheet" type="text/css" href="/css/common.css" />
  <link rel="stylesheet" type="text/css" href="/css/button.css" />
  <link rel="stylesheet" type="text/css" href="/css/cms/ClanWarCalendar.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
  <link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/dayjs.min.js" integrity="sha512-FwNWaxyfy2XlEINoSnZh1JQ5TRRtGow0D6XcmAWmYCRgvqOUTnzCxPc9uF35u5ZEpirk1uhlPVA19tflhvnW1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/locale/ko.min.js" integrity="sha512-ycjm4Ytoo3TvmzHEuGNgNJYSFHgsw/TkiPrGvXXkR6KARyzuEpwDbIfrvdf6DwXm+b1Y+fx6mo25tBr1Icg7Fw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/plugin/duration.min.js" integrity="sha512-t0b2NyBypSms8nA81pldWo0mXbfMotsdYgvs4awmbi/GU/25YBNLnXj+I9DAMV7WGZ8+z8wtRolX7zSF2LN8UQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    dayjs.locale('ko');
    //dayjs duration 확장
    dayjs.extend(dayjs_plugin_duration)
  </script>

  <script src="/js/common.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/api/clanWar.js"></script>
  <script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.ie11.min.js"></script>
  <script type="text/javascript">
    const Calendar = tui.Calendar;
    let calendar;

    function moveMonth(number) {
      const calendarDate = getCalendarDate();
      const { date } = calendarDate.dataset

      // 캘린더 날짜 변경
      calendar.move(number);
      calendarDate.dataset.date = dayjs(date).add(number, 'month');
      drawCalendar();
    }

    function getCalendarDate() {
      return document.querySelector('.calendar-date');
    }

    function initCalendar() {
      const container = document.getElementById('calendar');
      const options = {
        defaultView: 'month',
        isReadOnly: true,
        month: {
          dayNames: ['일', '월', '화', '수', '목', '금', '토']
        },
        timezone: {
          zones: [
            {
              timezoneName: 'Asia/Seoul',
              displayLabel: 'Seoul',
            }
          ],
        },
        template: {
          allday(event) {
            const { raw } = event;
            const drawBody = [];
            const clans = [];
            const sortedByDate = raw.sort((a, b) => a.type.localeCompare(b.type) || a.start - b.start)
            for (const clan of sortedByDate) {
              const { warId, type, startTime, clanName } = clan;

              // is DOM Rending to Click Event
              onClickEventWarIdSet.add(warId);

              const bgColor = getBgColorByWarType(type);
              const row = `<div class="clan war-${warId}">
                <span>${formatTime(startTime)}</span><span class="chip ml-5 cursor-pointer ${bgColor}">${clanName}</span>
              </div>`;
              clans.push(row);
            }

            const jsonClans = JSON.stringify(sortedByDate.map(clan => {
              let clanInfo = {}
              clanInfo.warId = clan.warId
              clanInfo.clanName = clan.clanName
              return clanInfo
            }));
            drawBody.push(`<div class="day-wrap cell-wrap flex-colum flex-nowrap" data-clans='${jsonClans}'>
                            ${clans.join("")}
                           </div>`);
            return drawBody.join("");
          }
        }
      };

      calendar = new Calendar(container, options);
      calendar.on('complete', (event) => {
        console.log(event)
      })
    }

    function drawClanListAtDay(ele, warId) {

      const dayWrap = ele.closest('.day-wrap');
      const { clans } = dayWrap.dataset;

      if (!clans) {
        console.log("clans is empty...", dayWrap);
        return;
      }

      const drawClans = JSON.parse(clans);

      const clanWarDetailWrap = getClanWarDetailWrap();
      const radioInputs = clanWarDetailWrap.querySelector('.clan-list.radio-inputs');
      radioInputs.innerHTML = ""; //clear

      for(const clan of drawClans) {
        const { warId, clanName } = clan;
        const radioItem = copyTemplateById('clan-war-radio-item-template');
        const radio = radioItem.querySelector('.radio.item');

        radio.innerHTML = radio.innerHTML
                               .replace(/{WAR_ID}/g, warId)
                               .replace(/{CLAN_NAME}/, clanName);

        radioInputs.appendChild(radio);
      }

      // 캘린더에서 클릭한 클랜 체크 처리
      const target = radioInputs.querySelector(`.war-${warId}`);
      if (target) {
        target.checked = true
      }
    }

    async function clickClanWarSchedule(ele, warId) {
      drawClanListAtDay(ele, warId);
      renderClanWarDetail(warId);
    }

    async function renderClanWarDetail(warId) {
      const clanWar = await fetchClanWarDetail(warId);
      if (!clanWar) {
        drawFailed();
        return;
      }

      drawClanWarDetail(clanWar);
    }
    function createEvent(key, value) {
      return {
        id: key,
        calendarId: key,
        title: key,
        start: key,
        end: key,
        isAllDay: true,
        category: 'allday',
        raw: value
      }
    }

    function convArrayGroupByDate(players) {
      const map = new Map();
      for(const player of players) {
        const { startTime } = player;
        const key = formatYYYYMMDD(startTime);
        let list = map.get(key);
        if (!list) {
          //init
          list = [];
          map.set(key, list);
        }

        list.push(player);
      }
      return Array.from(map);
    }

    function renderClanWars(clanWars) {
      calendar.clear();

      const events = [];
      const days = convArrayGroupByDate(clanWars);
      for (const [key, value] of days) {
        events.push(createEvent(key, value));
      }

      const sortedEvent = events.sort((a, b) => a.start - b.start);

      calendar.createEvents(sortedEvent);
    }

    function getClanWarDetailWrap() {
      return document.querySelector('.clan-war-detail-wrap');
    }

    function drawFailed() {
      const clanWarDetailWrap = getClanWarDetailWrap();
      clanWarDetailWrap.innerHTML = "조회 실패";
    }

    function makePeriod(startTime, endTime) {
      const startDate = formatYYYYMMDDHHMM(dayjs(startTime));
      const endDate = formatYYYYMMDDHHMM(dayjs(endTime));
      return `${startDate} ~ ${endDate}`;
    }

    function convStateName(state) {
      switch (state) {
        case 'preparation': return '준비중';
        case 'inWar': return '진행중';
        case 'warEnded':
        case 'warCollected':
          return '종료';
      }

      return state;
    }

    function renderClanWarInfo(clanWar) {
      const { warId, clanName, type, state, startTime, endTime, battleType, teamSize } = clanWar;

      const templateClanWarInfo = document.querySelector('#template-clan-war-info');
      const clanWarInfo = document.importNode(templateClanWarInfo.content, true);
      const clanWarInfoTable = clanWarInfo.querySelector('.table');

      clanWarInfoTable.dataset.warId = warId;

      clanWarInfoTable.innerHTML = clanWarInfoTable.innerHTML
                                                   .replace(/{NAME}/, clanName)
                                                   .replace(/{TYPE}/, convWarTypeName(type))
                                                   .replace(/{WAR_TYPE_COLOR}/, getBgColorByWarType(type))
                                                   .replace(/{BATTLE_TYPE}/, convBattleTypeName(battleType))
                                                   .replace(/{BATTLE_TYPE_COLOR}/, getBgColorByBattleType(battleType))
                                                   .replace(/{TEAM_SIZE}/, teamSize)
                                                   .replace(/{START_DATE}/, formatYYYYMMDDHHMM(dayjs(startTime)))
                                                   .replace(/{END_DATE}/, formatYYYYMMDDHHMM(dayjs(endTime)))
                                                   .replace(/{WAR_STATE}/, convStateName(state));


      const clanWarInfoElement = document.querySelector(".clan-war-info");
      clanWarInfoElement.innerHTML = "";
      clanWarInfoElement.appendChild(clanWarInfoTable);
    }

    function showClanWarDetail() {
      const clanWarDetailWrap = document.querySelector('.clan-war-detail-wrap');
      clanWarDetailWrap.classList.remove('display-none');
    }

    function renderClanWarMember(attacksPerMember, member) {
      const { tag, name, necessaryAttackYn, attacks } = member;

      const templateAttackRow = document.querySelector('#template-member-attack-row');

      let rows = [];
      for (const attack of attacks) {
        const attackRow = document.importNode(templateAttackRow.content, true);
        const row = attackRow.querySelector('.row');

        const { stars, destructionPercentage, duration } = attack;

        row.classList.add("first");
        row.innerHTML = row.innerHTML
                           .replace(/{ATTACK_TOTAL_COUNT}/, attacksPerMember)
                           .replace(/{NAME}/, name)
                           .replace(/{TAG}/g, tag)
                           .replace(/{YN}/g, necessaryAttackYn)
                           .replace(/{STAR}/, stars)
                           .replace(/{DESTRUCTION_PERCENTAGE}/, destructionPercentage)
                           .replace(/{DURATION}/, formatMinuteSecond(duration));

        if (rows.length) {
          // 공격 기록 있으면 두번째 행부터는 계정 정보 제거
          row.querySelector('.user-info').remove();
          row.classList.remove("first");
        }

        rows.push(row);
      }

      // append missing attack row
      for (let i=0; i<attacksPerMember - attacks.length; i++) {
        const attackRow = document.importNode(templateAttackRow.content, true);
        const row = attackRow.querySelector('.row');

        const templateMissingAttackRow = document.querySelector('#template-member-missing-attack-info');
        const missingAttackRow = document.importNode(templateMissingAttackRow.content, true);
        const missingAttack = missingAttackRow.querySelector('.attack-info');

        if (!rows.length) {
          // 공격 기록 없으면 첫 행 표기
          row.classList.add("first");
          row.innerHTML = row.innerHTML
                             .replace(/{ATTACK_TOTAL_COUNT}/, attacksPerMember)
                             .replace(/{NAME}/, name)
                             .replace(/{TAG}/g, tag)
                             .replace(/{YN}/g, necessaryAttackYn);
          // 공격 셀 제거
          row.querySelectorAll('.attack-info').forEach(ele => ele.remove());
        } else {
          row.innerHTML = "";
        }

        row.appendChild(missingAttack);

        rows.push(row);
      }

      return rows;
    }

    function renderClanWarMembers(clanWar) {
      const { attacksPerMember, members } = clanWar;

      const tableTbody = document.querySelector('.member-attack .table-tbody');

      //clear
      tableTbody.innerHTML = "";

      for (const member of members) {
        const rows = renderClanWarMember(attacksPerMember, member);
        if (rows){
          for (const row of rows)
            tableTbody.appendChild(row);
        }
      }
    }

    async function updateClanWarNecessaryAttack(playerTag) {
      if (!confirm("클랜전 강참 처리를 변경하시겠습니까?")) {
        return;
      }

      //강참 설정 처리
      const clanWarInfoTable = document.querySelector('.clan-war-info .war-info');
      const { warId } = clanWarInfoTable.dataset;
      if (!warId) console.error("war id is not found", playerTag);

      const isResult = await putClanWarNecessaryAttack(warId, playerTag);
      if (isResult) {
        renderClanWarDetail(warId);
      }
    }

    function drawClanWarDetail(clanWar) {

      renderClanWarInfo(clanWar);
      renderClanWarMembers(clanWar);

      showClanWarDetail();
    }

    async function drawCalendarEvents(startDate, endDate) {
      const clanWars = await fetchClanWars(startDate, endDate);

      renderClanWars(clanWars);
    }

    async function drawCalendar() {
      showWifiLoading('.section-wrapper');

      const date = calendar.getDate();

      const calendarDate = getCalendarDate();
      calendarDate.innerHTML = dayjs(date).format('YYYY년 MM월');

      const calendarStartDate = calendar.getDateRangeStart();
      const calendarEndDate = calendar.getDateRangeEnd();

      await drawCalendarEvents(calendarStartDate.valueOf(), calendarEndDate.valueOf());

      hideWifiLoading('.section-wrapper');
    }

    function settingClickEventToClanWar() {
      const warIdSet = new Set(onClickEventWarIdSet);
      for(const warId of warIdSet) {
        const target = document.querySelector(`.clan.war-${warId}`);
        if (!target) {
          // remove
          onClickEventWarIdSet.delete(warId);
          continue;
        }

        if (target.onclick) {
          // remove
          onClickEventWarIdSet.delete(warId);
          continue;
        }

        // setting click event
        target.onclick = () => clickClanWarSchedule(target, warId);

        // remove
        onClickEventWarIdSet.delete(warId);
      }
    }

    // 클랜 상세 표기 이벤트 생성을 위한 배열
    let onClickEventWarIdSet = new Set();

    window.onload = async () => {
      initCalendar();
      await drawCalendar();

      setInterval(() => settingClickEventToClanWar(), 1000);
    }
  </script>
</head>
<body>
  <div class="contents">
    <div class="card caption">
      <div class="bottom-section">
        <span class="title">클랜전 캘린더</span>
      </div>
    </div>

    <div class="section-wrapper">
      <div id="wifi-loader" class="display-none">
        <svg class="circle-outer" viewBox="0 0 86 86">
          <circle class="back" cx="43" cy="43" r="40"></circle>
          <circle class="front" cx="43" cy="43" r="40"></circle>
          <circle class="new" cx="43" cy="43" r="40"></circle>
        </svg>
        <svg class="circle-middle" viewBox="0 0 60 60">
          <circle class="back" cx="30" cy="30" r="27"></circle>
          <circle class="front" cx="30" cy="30" r="27"></circle>
        </svg>
        <svg class="circle-inner" viewBox="0 0 34 34">
          <circle class="back" cx="17" cy="17" r="14"></circle>
          <circle class="front" cx="17" cy="17" r="14"></circle>
        </svg>
        <div class="text" data-text="Searching"></div>
      </div>

      <div class="header">
        <div class="calendar-icon cursor-pointer" onclick="moveMonth(-1);">
          <i class="icon-arrow-line-left"></i>
        </div>
        <div class="calendar-date"></div>
        <div class="calendar-icon cursor-pointer" onclick="moveMonth(1);">
          <i class="icon-arrow-line-right"></i>
        </div>
      </div>
      <div id="calendar" class="clan-war-calendar"></div>
      <div id="clan-war-detail" class="clan-war-detail-wrap display-none">

        <div class="clan-list radio-inputs"></div>

        <div class="table mt-5 clan-war-info"></div>

        <div class="table mt-5 member-attack">
          <table class="table">
            <thead>
            <tr class="table-tr">
              <th class="table-th">플레이어 (태그)</th>
              <th class="table-th">
                <div class="th-wrap">
                  획득별
                </div>
              </th>
              <th class="table-th">
                <div class="th-wrap">
                  파괴율
                </div>
              </th>
              <th class="table-th">
                <div class="th-wrap">
                  공격시간
                </div>
              </th>
            </tr>
            </thead>
            <tbody class="table-tbody"></tbody>
          </table>
        </div>

      </div>
    </div>

  </div>
</body>
<template id="template-clan-war-info">
  <table class="table war-info">
    <tr>
      <th class="th-wrap">클랜명</th>
      <td><div class="chip bg-green">{NAME}</div></td>
    </tr>
    <tr>
      <th class="th-wrap">인원</th>
      <td>{TEAM_SIZE}</td>
    </tr>
    <tr>
      <th class="th-wrap">유형</th>
      <td><div class="chip {WAR_TYPE_COLOR}">{TYPE}</div></td>
    </tr>
    <tr>
      <th class="th-wrap">전투</th>
      <td><div class="chip {BATTLE_TYPE_COLOR}">{BATTLE_TYPE}</div></td>
    </tr>
    <tr>
      <th class="th-wrap">전투 시작</th>
      <td>{START_DATE}</td>
    </tr>
    <tr>
      <th class="th-wrap">전투 종료</th>
      <td>{END_DATE}</td>
    </tr>
    <tr>
      <th class="th-wrap">상태</th>
      <td>{WAR_STATE}</td>
    </tr>
  </table>
</template>
<template id="template-member-attack-row">
  <tr class="table-tr row">
    <td class="user-info" rowspan="{ATTACK_TOTAL_COUNT}">
      <div class="td-wrap flex-colum flex-gap">
        <div class="name">{NAME}</div>
        <div class="chip">{TAG}</div>
        <div class="chip cursor-pointer necessary-attack-{YN}" onclick="updateClanWarNecessaryAttack('{TAG}')">강참 설정</div>
      </div>
    </td>
    <td class="attack-info">
      <div class="td-wrap"><i class="fa-solid fa-star color-gold"></i><span class="ml-5">{STAR}</span></div>
    </td>
    <td class="attack-info">
      <div class="td-wrap"><div class="icon-damage"></div><span class="ml-5">{DESTRUCTION_PERCENTAGE}</span></div>
    </td>
    <td class="attack-info">
      <div class="td-wrap"><div class="icon-clock"></div><span class="ml-5">{DURATION}</span></div>
    </td>
  </tr>
</template>
<template id="template-member-missing-attack-info">
  <td class="attack-info" colspan="3">
    <div class="td-wrap">공격 기록 없음</div>
  </td>
</template>
<template id="clan-war-radio-item-template">
  <label class="radio item">
    <input type="radio" name="radio-clan" class="war-{WAR_ID}" onchange="renderClanWarDetail('{WAR_ID}'); return false;">
    <span class="name">{CLAN_NAME}</span>
  </label>
</template>
</html>