<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
    <meta name="format-detection" content="telephone=no, email=no, address=no, date=no">

    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/loader.css" />
    <link rel="stylesheet" type="text/css" href="/css/button.css" />
    <link rel="stylesheet" type="text/css" href="/css/cms/memberMissing.css" />

    <script src="/js/common.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/api/clanWar.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/dayjs.min.js" integrity="sha512-FwNWaxyfy2XlEINoSnZh1JQ5TRRtGow0D6XcmAWmYCRgvqOUTnzCxPc9uF35u5ZEpirk1uhlPVA19tflhvnW1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/dayjs.min.js" integrity="sha512-FwNWaxyfy2XlEINoSnZh1JQ5TRRtGow0D6XcmAWmYCRgvqOUTnzCxPc9uF35u5ZEpirk1uhlPVA19tflhvnW1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/locale/ko.min.js" integrity="sha512-ycjm4Ytoo3TvmzHEuGNgNJYSFHgsw/TkiPrGvXXkR6KARyzuEpwDbIfrvdf6DwXm+b1Y+fx6mo25tBr1Icg7Fw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/plugin/duration.min.js" integrity="sha512-t0b2NyBypSms8nA81pldWo0mXbfMotsdYgvs4awmbi/GU/25YBNLnXj+I9DAMV7WGZ8+z8wtRolX7zSF2LN8UQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        dayjs.locale('ko');
        //dayjs duration 확장
        dayjs.extend(dayjs_plugin_duration)
    </script>

    <title>클랜전 미공 기록 조회</title>
    <style>
        .input {
            width: calc(100% - 29px);
            height: 100%;
            border: 0 transparent;
            font-size: 12px;
            padding-right: 0;
            color: var(--input-line);
            background: var(--input-bg-color);
            outline: none;
        }
    </style>
    <script>
        function clearMissingAttackPlayerList() {
            let tableTbody = document.querySelector('.table-tbody');
            tableTbody.innerHTML = "";
        }

        function renderEmptyRow() {
            const raidRowEmptyTemplate = document.querySelector('#raid-row-empty-template');
            const raidRowEmptyElement = document.importNode(raidRowEmptyTemplate.content, true);
            const tableTbody = document.querySelector('.table-tbody');
            tableTbody.appendChild(raidRowEmptyElement);
        }

        function increaseRowspan(playerTag, className) {
            const firstDrawRow = document.querySelector(`.tag-${removeHashTag(playerTag)}`);
            const targetTd = firstDrawRow.querySelector(`.${className}`);
            const rowspan = targetTd.getAttribute('rowspan');
            if (rowspan) {
                targetTd.setAttribute('rowspan', Number(rowspan)+1);
            }
        }

        function removeCell(tableRow, removeCellClassName) {
            tableRow.querySelector(`.${removeCellClassName}`).remove();
        }

        function appendClassNewPlayer(tableRow, tag) {
            tableRow.classList.add(`tag-${removeHashTag(tag)}`, "start");
        }

        function drawRow(tableRow, tag) {
            const tableTbody = document.querySelector('.table-tbody');
            const lastRow = tableTbody.children[tableTbody.children.length-1]
            if (!lastRow) {
                appendClassNewPlayer(tableRow, tag);
                tableTbody.appendChild(tableRow);
                return;
            }

            // 마지막 행이 그려야할 플레이어와 동일하면 중복 제거
            const beforeRowPlayerTag = lastRow.dataset.tag;

            if (tag === beforeRowPlayerTag) {
                increaseRowspan(tag, 'name');
                removeCell(tableRow, 'name');
            } else {
                // 신규 플레이어
                appendClassNewPlayer(tableRow, tag);
            }

            tableTbody.appendChild(tableRow);
        }

        function renderClanWarMissingAttackPlayer(player) {
            const { warId, clanName, startTime, name, tag, warType } = player;

            const raidRowEmptyTemplate = document.querySelector('#raid-row-template');
            const raidRowEmptyElement = document.importNode(raidRowEmptyTemplate.content, true);
            const tableRow = raidRowEmptyElement.querySelector('.table-tr');

            // dataset
            tableRow.dataset.tag = tag;

            tableRow.innerHTML = tableRow.innerHTML
                .replace(/{NAME}/, name)
                .replace(/{TAG}/, tag)
                .replace(/{CLAN_NAME}/, clanName)
                .replace(/{DATE}/, dayjs(startTime).format('YYYY년 MM월 DD일'));

            // clan chip bg 색상 변경
            const clan = tableRow.querySelector('.clan .chip');
            clan.classList.add(getBgColorByWarType(warType));

            // 테이블에 행 입력
            drawRow(tableRow, tag);
        }

        function renderMissingAttackPlayers(clanWarMissingAttackPlayers) {
            clearMissingAttackPlayerList();
            if (!clanWarMissingAttackPlayers.length) {
                renderEmptyRow();
                return;
            }

            for(const player of clanWarMissingAttackPlayers) {
                renderClanWarMissingAttackPlayer(player);
            }
        }

        function showLoading(className) {
            const loader = document.querySelector('#loader');
            const loaderElement = document.importNode(loader.content, true);

            const target = document.querySelector(className);
            target.classList.add('opacity-01');
            target.appendChild(loaderElement);
        }

        function hideLoading(className) {
            const target = document.querySelector(className);
            target.classList.remove('opacity-01');
        }

        async function searchMissingAttackPlayerWithTag(tag) {
            showLoading('.table-tbody');
            const missingAttack = await fetchMissingAttacksByTag(tag);
            hideLoading('.table-tbody');

            renderMissingAttackPlayers(missingAttack);
        }

        async function searchMissingAttackPlayerWithName(name) {
            showLoading('.table-tbody');
            const missingAttack = await fetchMissingAttacksByName(name);
            hideLoading('.table-tbody');

            renderMissingAttackPlayers(missingAttack);
        }

        document.addEventListener('DOMContentLoaded', () => {
            const radioButtons = document.querySelectorAll('input[name="options"]');
            radioButtons.forEach(radio => radio.addEventListener('change', updatePlaceholder));
            updatePlaceholder();
        });
        function updatePlaceholder() {
            const selectedOption = document.querySelector('input[name="options"]:checked').value;
            const searchInput = document.querySelector('.player-search-input');
            const text = document.querySelector('.player-search-input').value;
            searchInput.placeholder = selectedOption === '이름' ? '플레이어 이름 입력' : '플레이어 태그 입력';
            if (text.length > 0) {
                if (selectedOption === '이름') {
                    if (validateString(text)) {
                        searchMissingAttackPlayerWithName(text);
                    }
                } else {
                    if (text.startsWith('#') && text.length >= 6) {
                        searchMissingAttackPlayerWithTag(text);
                    }
                }
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            document.querySelector('.player-search-input').addEventListener('input', function(event) {
                const text = event.target.value.trim();
                const selectedOption = document.querySelector('input[name="options"]:checked').value;
                if (text.length > 0) {
                    if (selectedOption === '이름') {
                        if (validateString(text)) {
                            searchMissingAttackPlayerWithName(text);
                        }
                    } else {
                        if (text.startsWith('#') && text.length >= 6) {
                            searchMissingAttackPlayerWithTag(text);
                        }
                    }
                }
            });
        });
    </script>
</head>
<body>
<div class="section-wrapper">

    <div class="capital-raid">
        <div class="card caption">
            <div class="bottom-section">
                <span class="title">클랜전 미공 기록 조회</span>
            </div>
        </div>

        <div class="container">
            <div class="buttons">
                <div class="radio-container">
                    <label class="radio-label">
                        <input type="radio" name="options" value="이름" checked>
                        <span>이름</span>
                    </label>
                    <label class="radio-label">
                        <input type="radio" name="options" value="태그">
                        <span>태그</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="body">
            <div id="wifi-loader" class="display-none">
                <svg class="circle-outer" viewBox="0 0 86 86">
                    <circle class="back" cx="43" cy="43" r="40"></circle>
                    <circle class="front" cx="43" cy="43" r="40"></circle>
                    <circle class="new" cx="43" cy="43" r="40"></circle>
                </svg>
                <svg class="circle-middle" viewBox="0 0 60 60">
                    <circle class="back" cx="30" cy="30" r="27"></circle>
                    <circle class="front" cx="30" cy="30" r="27"></circle>
                </svg>
                <svg class="circle-inner" viewBox="0 0 34 34">
                    <circle class="back" cx="17" cy="17" r="14"></circle>
                    <circle class="front" cx="17" cy="17" r="14"></circle>
                </svg>
                <div class="text" data-text="Searching"></div>
            </div>

            <div class="container">
                <div class="search">
                    <div class="search-box">
                        <div class="search-field">
                            <input placeholder="입력" class="input player-search-input" type="text">
                            <!--              <div class="search-box-icon">-->
                            <!--                <button class="btn-icon-content" onclick="searchPlayerRaidScore(this); return false;">-->
                            <!--                  <i class="search-icon">-->
                            <!--                    <svg class="icon-search" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>-->
                            <!--                  </i>-->
                            <!--                </button>-->
                            <!--              </div>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="container contents">
                <table class="table">
                    <thead class="table-thead">
                    <tr class="table-tr">
                        <th class="table-th">플레이어</th>
                        <th class="table-th">진행 클랜</th>
                        <th class="table-th">미공 날짜</th>
                    </tr>
                    </thead>
                    <tbody class="table-tbody">
                    <tr class="table-tr">
                        <td class="table-td" colspan="3">플레이어 정보 없음</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</div>

</body>
<template id="loader">
    <div class="loader-circle">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div class="bar4"></div>
        <div class="bar5"></div>
        <div class="bar6"></div>
        <div class="bar7"></div>
        <div class="bar8"></div>
        <div class="bar9"></div>
        <div class="bar10"></div>
        <div class="bar11"></div>
        <div class="bar12"></div>
    </div>
</template>
<template id="raid-row-template">
    <tr class="table-tr">
        <td class="table-td name" rowspan=1>
            <div class="td-wrap flex-colum justify-content-center">
                <span>{NAME}</span>
                <span class="chip tag m-1">{TAG}</span>
            </div>
        </td>
        <td class="table-td clan">
            <span class="chip">{CLAN_NAME}</span>
        </td>
        <td class="table-td">{DATE}</td>
    </tr>
</template>
<template id="raid-row-empty-template">
    <tr class="table-tr">
        <td class="table-td" colspan="3">플레이어 정보 없음</td>
    </tr>
</template>
</html>