<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>미공 캘린더</title>

  <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/loader.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/cms/ClanWarCalendar.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
  <link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/dayjs.min.js" integrity="sha512-FwNWaxyfy2XlEINoSnZh1JQ5TRRtGow0D6XcmAWmYCRgvqOUTnzCxPc9uF35u5ZEpirk1uhlPVA19tflhvnW1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/locale/ko.min.js" integrity="sha512-ycjm4Ytoo3TvmzHEuGNgNJYSFHgsw/TkiPrGvXXkR6KARyzuEpwDbIfrvdf6DwXm+b1Y+fx6mo25tBr1Icg7Fw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/plugin/duration.min.js" integrity="sha512-t0b2NyBypSms8nA81pldWo0mXbfMotsdYgvs4awmbi/GU/25YBNLnXj+I9DAMV7WGZ8+z8wtRolX7zSF2LN8UQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    dayjs.locale('ko');
    //dayjs duration 확장
    dayjs.extend(dayjs_plugin_duration)
  </script>

  <script src="/static/js/common.js"></script>
  <script src="/static/js/util.js"></script>
  <script src="/static/js/api/clanWar.js"></script>
  <script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.ie11.min.js"></script>
  <script type="text/javascript">
    const Calendar = tui.Calendar;
    let calendar;

    function moveMonth(number) {
      const calendarDate = getCalendarDate();
      const { date } = calendarDate.dataset

      // 캘린더 날짜 변경
      calendar.move(number);
      calendarDate.dataset.date = dayjs(date).add(number, 'month');
      drawCalendar();
    }

    function getCalendarDate() {
      return document.querySelector('.calendar-date');
    }

    function initCalendar(now) {
      const calendarDate = getCalendarDate();
      calendarDate.dataset.date = now;

      const container = document.getElementById('calendar');
      const options = {
        defaultView: 'month',
        isReadOnly: true,
        month: {
          dayNames: ['일', '월', '화', '수', '목', '금', '토']
        },
        timezone: {
          zones: [
            {
              timezoneName: 'Asia/Seoul',
              displayLabel: 'Seoul',
            }
          ],
        },
        template: {
          time(event) {
            const { raw } = event;
            const { clanName, warType, playerName } = raw;

            const bgColor = getBgColor(warType);

            return `<span class="chip ml-5 cursor-pointer ${bgColor}">${playerName}</span>`;

            function getBgColor(type = '') {
              switch (type.toLowerCase()) {
                case 'none': return 'bg-green';
                case 'league': return 'bg-crimson';
                case 'parallel': return 'bg-orange';
              }
              return type;
            }
          }
        }
      };

      calendar = new Calendar(container, options);
    }

    function createEvent(player) {
      const { warId, clanName, startTime, playerName, playerTag } = player;

      return {
        id: warId,
        calendarId: warId,
        title: clanName,
        start: startTime,
        end: startTime,
        raw: player
      }
    }
    function renderClanWars(players) {
      calendar.clear();

      const events = [];
      for (const player of players) {
        events.push(createEvent(player));
      }

      calendar.createEvents(events);
    }

    async function drawCalendarEvents(date) {
      const searchMonth = formatYYYYMMDD(date);
      const clanWarMissingAttackPlayers = await fetchClanWarMissingAttackPlayers(searchMonth);

      renderClanWars(clanWarMissingAttackPlayers);
    }

    async function drawCalendar() {
      calendar.clear();

      showWifiLoading('.section-wrapper');
      const calendarDate = getCalendarDate();
      const { date } = calendarDate.dataset;
      calendarDate.innerHTML = dayjs(date).format('YYYY년 MM월');

      await drawCalendarEvents(date);
      hideWifiLoading('.section-wrapper');
    }

    window.onload = async () => {
      const now = dayjs();
      initCalendar(now);
      await drawCalendar();
    }
  </script>
</head>
<body>

  <div class="contents">
    <div class="card caption">
      <div class="bottom-section">
        <span class="title">미공 캘린더</span>
      </div>
    </div>

    <div class="section-wrapper">
      <div id="wifi-loader" class="display-none">
        <svg class="circle-outer" viewBox="0 0 86 86">
          <circle class="back" cx="43" cy="43" r="40"></circle>
          <circle class="front" cx="43" cy="43" r="40"></circle>
          <circle class="new" cx="43" cy="43" r="40"></circle>
        </svg>
        <svg class="circle-middle" viewBox="0 0 60 60">
          <circle class="back" cx="30" cy="30" r="27"></circle>
          <circle class="front" cx="30" cy="30" r="27"></circle>
        </svg>
        <svg class="circle-inner" viewBox="0 0 34 34">
          <circle class="back" cx="17" cy="17" r="14"></circle>
          <circle class="front" cx="17" cy="17" r="14"></circle>
        </svg>
        <div class="text" data-text="Searching"></div>
      </div>

      <div class="header">
        <div class="calendar-icon cursor-pointer" onclick="moveMonth(-1);">
          <i class="icon-arrow-line-left"></i>
        </div>
        <div class="calendar-date"></div>
        <div class="calendar-icon cursor-pointer" onclick="moveMonth(1);">
          <i class="icon-arrow-line-right"></i>
        </div>
      </div>

      <div id="calendar" class="clan-war-calendar"></div>
    </div>

  </div>

</body>
</html>