<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/static/favicon.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/loader.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/button.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/cms/raidScore.css" />

  <script src="/static/js/common.js"></script>
  <script src="/static/js/util.js"></script>
  <script src="/static/js/api/raid.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/dayjs.min.js" integrity="sha512-FwNWaxyfy2XlEINoSnZh1JQ5TRRtGow0D6XcmAWmYCRgvqOUTnzCxPc9uF35u5ZEpirk1uhlPVA19tflhvnW1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>

  <title>습격전 기록 조회</title>
  <style>
    .input {
      width: calc(100% - 29px);
      height: 100%;
      border: 0;
      border-color: transparent;
      font-size: 12px;
      padding-right: 0px;
      color: var(--input-line);
      background: var(--input-bg-color);
      outline: none;
    }
  </style>
  <script>
    function clearPlayerRiadScoreList() {
      let tableTbody = document.querySelector('.table-tbody');
      tableTbody.innerHTML = "";
    }

    function renderEmptyRow() {
      const raidRowEmptyTemplate = document.querySelector('#raid-row-empty-template');
      const raidRowEmptyElement = document.importNode(raidRowEmptyTemplate.content, true);
      const tableTbody = document.querySelector('.table-tbody');
      tableTbody.appendChild(raidRowEmptyElement);
    }

    function renderPlayerRaidScore(playerRaidScore) {
      const { name, tag, clan, seasonStartDate, seasonEndDate, resourceLooted, attacks } = playerRaidScore;

      const raidRowEmptyTemplate = document.querySelector('#raid-row-template');
      const raidRowEmptyElement = document.importNode(raidRowEmptyTemplate.content, true);
      const tableRow = raidRowEmptyElement.querySelector('.table-tr');

      const displayClanName = clan ? clan.name : '정보 없음'
      const seasonPeriod = `${formatYYYYMMDD(seasonStartDate)} ~ ${formatYYYYMMDD(seasonEndDate)}`
      tableRow.innerHTML = tableRow.innerHTML
                                   .replace(/{NAME}/, name)
                                   .replace(/{TAG}/, tag)
                                   .replace(/{CLAN_NAME}/, displayClanName)
                                   .replace(/{SEASON_PERIOD}/, seasonPeriod)
                                   .replace(/{SCORE}/, Number(resourceLooted).toLocaleString())
                                   .replace(/{ATTACKS}/, Number(attacks).toLocaleString());

      if (resourceLooted < 20000) {
        // 점수 미달
        const span = tableRow.querySelector('.span-score');
        span.classList.add('color-red');

      }

      if (attacks < 6) {
        // 미공
        const span = tableRow.querySelector('.span-attacks');
        span.classList.add('color-red');
      }

      const tableTbody = document.querySelector('.table-tbody');
      tableTbody.appendChild(raidRowEmptyElement);
    }

    function renderPlayerRaidScores(playerRaidScores) {
      clearPlayerRiadScoreList();
      if (!playerRaidScores.length) {
        renderEmptyRow();
        return;
      }

      for(const playerRaidScore of playerRaidScores) {
        renderPlayerRaidScore(playerRaidScore);
      }
    }

    function showLoading(className) {
      const loader = document.querySelector('#loader');
      const loaderElement = document.importNode(loader.content, true);

      const target = document.querySelector(className);
      target.classList.add('opacity-01');
      target.appendChild(loaderElement);
    }

    function hideLoading(className) {
      const target = document.querySelector(className);
      target.classList.remove('opacity-01');
    }

    async function searchPlayerRaidScore(element) {
      let searchBox = element.closest('.search-box');
      let searchInput = searchBox.querySelector('.player-search-input');
      const playerTag = searchInput.value.trim();
      if (!playerTag) {
        alert('플레이어 태그를 입력해주세요');
        return;
      }

      showLoading('.table-tbody');
      const playerRaidScores = await fetchPlayerRaidScoreWithPlayerTag(playerTag);
      hideLoading('.table-tbody');

      renderPlayerRaidScores(playerRaidScores);
    }

    async function searchPlayerRaidScoreWithTag(element) {
      showLoading('.table-tbody');
      const playerRaidScores = await fetchPlayerRaidScoreWithPlayerTag(element);
      hideLoading('.table-tbody');

      renderPlayerRaidScores(playerRaidScores);
    }

    async function searchPlayerRaidScoreWithName(element) {
      showLoading('.table-tbody');
      const playerRaidScores = await fetchPlayerRaidScoreWithPlayerName(element);
      hideLoading('.table-tbody');

      renderPlayerRaidScores(playerRaidScores);
    }

    async function refreshClanRaidSeason() {
      showWifiLoading('.body');
      await collectRaidSeason();
      hideWifiLoading('.body');
    }

    document.addEventListener('DOMContentLoaded', () => {
      const radioButtons = document.querySelectorAll('input[name="options"]');
      radioButtons.forEach(radio => radio.addEventListener('change', updatePlaceholder));
      updatePlaceholder();
    });
    function updatePlaceholder() {
      const selectedOption = document.querySelector('input[name="options"]:checked').value;
      const searchInput = document.querySelector('.player-search-input');
      const text = document.querySelector('.player-search-input').value;
      searchInput.placeholder = selectedOption === '이름' ? '플레이어 이름 입력' : '플레이어 태그 입력';
      if (text.length > 0) {
        if (selectedOption === '이름') {
          if (validateString(text)) {
            searchPlayerRaidScoreWithName(text);
          }
        } else {
          if (text.startsWith('#') && text.length >= 6) {
            searchPlayerRaidScoreWithTag(text);
          }
        }
      }
    }
    function isKoreanComplete(char) {
      const charCode = char.charCodeAt(0);
      return charCode >= 0xAC00 && charCode <= 0xD7A3; // 한글 완성된 글자
    }

    function isHangulIncomplete(char) {
      const charCode = char.charCodeAt(0);
      return (charCode >= 0x1100 && charCode <= 0x11FF) || // 한글 자모 (초성, 중성, 종성)
              (charCode >= 0x3130 && charCode <= 0x318F) || // 한글 호환 자모
              (charCode >= 0xA960 && charCode <= 0xA97F) || // 한글 자모 확장-A
              (charCode >= 0xD7B0 && charCode <= 0xD7FF);   // 한글 자모 확장-B
    }

    function isEnglish(char) {
      const charCode = char.charCodeAt(0);
      return (charCode >= 0x0041 && charCode <= 0x005A) || // 영어 대문자
              (charCode >= 0x0061 && charCode <= 0x007A);   // 영어 소문자
    }

    function isDigit(char) {
      const charCode = char.charCodeAt(0);
      return charCode >= 0x0030 && charCode <= 0x0039; // 숫자
    }

    function isValidChar(char) {
      return isKoreanComplete(char) || isEnglish(char) || isDigit(char);
    }

    function validateString(str) {
      for (let i = 0; i < str.length; i++) {
        const char = str.charAt(i);
        if (isHangulIncomplete(char)) {
          return false;
        }
        if (!isValidChar(char)) {
          return false;
        }
      }
      return true;
    }


    document.addEventListener('DOMContentLoaded', function() {
      document.querySelector('.player-search-input').addEventListener('input', function(event) {
        const text = event.target.value.trim();
        const selectedOption = document.querySelector('input[name="options"]:checked').value;
        if (text.length > 0) {
          if (selectedOption === '이름') {
            if (validateString(text)) {
              searchPlayerRaidScoreWithName(text);
            }
          } else {
            if (text.startsWith('#') && text.length >= 6) {
              searchPlayerRaidScoreWithTag(text);
            }
          }
        }
      });
    });
  </script>
</head>
<body>
  <div class="capital-raid">
    <div class="card caption">
      <div class="bottom-section">
        <span class="title">습격전 기록 조회</span>
      </div>
    </div>

    <div class="container">
      <div class="buttons">
        <div class="radio-container">
          <label class="radio-label">
            <input type="radio" name="options" value="이름" checked>
            <span>이름</span>
          </label>
          <label class="radio-label">
            <input type="radio" name="options" value="태그">
            <span>태그</span>
          </label>
        </div>
        <div class="button-chip">
          <button class="refresh" onclick="refreshClanRaidSeason(); return false;">
            최근 습격전 기록 업데이트
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-arrow-repeat"
                viewBox="0 0 16 16"
            >
              <path
                  d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"
              ></path>
              <path
                  fill-rule="evenodd"
                  d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div class="body">
      <div id="wifi-loader" class="display-none">
        <svg class="circle-outer" viewBox="0 0 86 86">
          <circle class="back" cx="43" cy="43" r="40"></circle>
          <circle class="front" cx="43" cy="43" r="40"></circle>
          <circle class="new" cx="43" cy="43" r="40"></circle>
        </svg>
        <svg class="circle-middle" viewBox="0 0 60 60">
          <circle class="back" cx="30" cy="30" r="27"></circle>
          <circle class="front" cx="30" cy="30" r="27"></circle>
        </svg>
        <svg class="circle-inner" viewBox="0 0 34 34">
          <circle class="back" cx="17" cy="17" r="14"></circle>
          <circle class="front" cx="17" cy="17" r="14"></circle>
        </svg>
        <div class="text" data-text="Searching"></div>
      </div>

      <div class="container">
        <div class="search">
          <div class="search-box">
            <div class="search-field">
              <input placeholder="입력" class="input player-search-input" type="text">
<!--              <div class="search-box-icon">-->
<!--                <button class="btn-icon-content" onclick="searchPlayerRaidScore(this); return false;">-->
<!--                  <i class="search-icon">-->
<!--                    <svg class="icon-search" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>-->
<!--                  </i>-->
<!--                </button>-->
<!--              </div>-->
            </div>
          </div>
        </div>
      </div>

      <div class="container contents">
        <table class="table">
          <thead class="table-thead">
          <tr class="table-tr">
            <th class="table-th">플레이어</th>
            <th class="table-th">태그</th>
            <th class="table-th">시즌</th>
            <th class="table-th">진행 클랜</th>
            <th class="table-th">점수</th>
            <th class="table-th">공격수</th>
          </tr>
          </thead>
          <tbody class="table-tbody">
          <tr class="table-tr">
            <td class="table-td" colspan="6">플레이어 정보 없음</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</body>
<template id="loader">
  <div class="loader-circle">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
    <div class="bar4"></div>
    <div class="bar5"></div>
    <div class="bar6"></div>
    <div class="bar7"></div>
    <div class="bar8"></div>
    <div class="bar9"></div>
    <div class="bar10"></div>
    <div class="bar11"></div>
    <div class="bar12"></div>
  </div>
</template>
<template id="raid-row-template">
  <tr class="table-tr">
    <td class="table-td">{NAME}</td>
    <td class="table-td"><span class="chip">{TAG}</span></td>
    <td class="table-td">{SEASON_PERIOD}</td>
    <td class="table-td"><span class="chip bg-green">{CLAN_NAME}</span></td>
    <td class="table-td"><span class="span-score">{SCORE}</span></td>
    <td class="table-td"><span class="span-attacks">{ATTACKS}</span></td>
  </tr>
</template>
<template id="raid-row-empty-template">
  <tr class="table-tr">
    <td class="table-td" colspan="6">플레이어 정보 없음</td>
  </tr>
</template>
</html>