.search {
  margin-bottom: 10px;
}
.search-result {
  .card {
    margin: 0;
  }

  .card.empty {

    .text-title {
      text-align: center;
    }
  }
}

.card-basic {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-assigned-player-wrapper {
  position: relative;
  min-height: 300px;
}

.card-assigned-player {

  .caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
  }

  .player-info:last-child {
    border-bottom: unset;
  }

  .player-info {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dadada;

    .layout-left, .layout-right {
      display: flex;
      align-items: center;
    }

    .player-info-item:not(:first-child) {
      margin: 0 5px;
    }

    .player-info-item {

      .info {
        display: flex;
      }

      .big-text {
        font-size: 10px;
      }
      .regular-text {
        font-size: 8px;
      }
      .small-text {
        font-size: 6px;
      }
    }
  }
}

.support-area {
  margin-top: 5px;
  padding: 10px 0;
  border-top: 1px solid gray;
  display: flex;
  justify-content: space-between;

  .regular-text {
    margin-left: 5px;
    font-size: 12px;
  }
}

.player-list {

  .not-joined {
    color: red;
  }
}

.clan-manager {
  position: relative;
  padding: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 320px) {
  .clan-manager {
    width: 270px;
  }
}

.clan-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  margin: 10px;
  width: 270px;
  padding: .8em;
  background: #f5f5f5;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.clan-badge {
  width: 55px;
  height: 55px;
}

.clan-war-league-badge {
  width: 25px;
  height: 25px;
}

.capital-league-badge {
  width: 25px;
  height: 25px;
}

.title {
  margin-left: 5px;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 1.2em;
}

.text-body {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  font-size: .9em;
  padding-bottom: 10px;
  padding-top: 10px;

  .description {
    white-space: pre-wrap;
  }
}

/*Button*/
.card-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .3em;
  cursor: pointer;
  transition: .3s ease-in-out;

  .chip {
    font-size: 10px;
    background-color: #a6ffe1;
  }
}

.btn-add, .btn-remove {
  position: absolute;
  top: 0;
  right: 0;
}

.chip {
  display: flex;
  align-items: center;
  margin: 3px;
  font-size: 12px;
  font-weight: unset;
}

.fa-square-plus:before {
  font-size: 30px;
}

.fa-rectangle-xmark:before {
  font-size: 30px;
}

.icon.trophies {
  width: 15px;
  height: 15px;
}

.chip.clan-label {
  background-color: unset;
}

.icon.label-icon {
  width: 25px;
  height: 25px;
}

.icon.icon-clan-capital {
  width: 25px;
  height: 25px;
}

/** filter css */
.radio-group-wrapper {
  width: 270px;
  height: 60px;
  background-color: antiquewhite;
  border-radius: 40px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.041);
  align-items: center;
  justify-content: center;
  display: flex;

  .radio-group {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: transparent;
  }

  .input-radio {
    display: none;
  }

  .radio-item i.icon {
    width: 35px;
    height: 35px;
    opacity: 0.8;
    cursor: pointer;
    padding: 13px 20px;
    transition: 0.2s;
  }

  .radio-item i.icon:hover {
    transition: 0.1s;
    position: relative;
    margin-top: -2px;
    opacity: 1;
  }

  .input-radio:checked + label .radio-item i.icon {
    transition: 0.1s;
    position: relative;
    margin-top: -2px;
    opacity: 1;
  }

}