:root {
  --notice-bg-color: #2b2d31;
  --notice-font-color: #d8d8d8;
}

body {
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--notice-bg-color);
  color: var(--notice-font-color);
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: var(--notice-font-color);
  padding: 5px 10px;
  border-bottom: 2px double;
  font-weight: bold;
  font-size: 24px;

  .label {
    margin-left: 3px;
  }
}

.support-area {
  margin-top: 5px;
  width: 720px;
  display: flex;
  flex-direction: column;

  @media (max-width: 500px) {
    width: 400px;
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: right;
  }
}

.beginning-month-plan {
  margin-top: 10px;
  width: 500px;

  @media (max-width: 500px) {
    width: 400px;
  }

  .table-caption {
    text-align: center;
    background-color: #000000;
    border: 1px solid;
    font-weight: bold;
  }

  .table-tbody, .table-tfoot {
    border-top: 1px solid white;
  }

  .table-th:not(:first-child), .table-td:not(:first-child) {
    border-left: 1px solid white;
  }

  .table-tr.today {
    font-weight: bold;
    border: 2px solid white;
    background-color: black;
  }
}

.notice-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  border-radius: 10px;
  padding: 10px 0;

  @media (max-width: 500px) {
    width: 400px;
  }

  .notice {
    width: 100%;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid white;
    font-size: 13px;

    .row {
      display: flex;
      align-items: center;

      @media (max-width: 500px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
      }

      .dynamic {
        display: flex;
        align-items: center;

        @media (max-width: 500px) {
          justify-content: flex-start;
          align-items: center;
        }
      }
    }

    .detail {
      margin-top: 5px;
      border-top: 1px solid;
      padding-top: 10px;
      white-space: pre-line;
      text-align: left;
    }

    .label {
      font-weight: bold;
      margin-right: 5px;
      border-radius: 5px;
      width: 40px;
    }

    .label.NOTICE {
      border: 1px solid red;
      color: red;
    }

    .label.EVENT {
      border: 1px solid green;
      color: green;
    }

    .label.COUPON {
      border: 1px solid gold;
      color: gold;
    }

    .text {
      width: 365px;
      text-align: left;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-right: 5px;

      @media (max-width: 500px) {
        width: 255px;
      }
    }

    .posting-date {
      margin-right: 5px;
      white-space: nowrap;
    }
    .timer {
      white-space: nowrap;
    }
  }

  .notice.active {
    opacity: 1;
  }
}

.table {
  border-radius: 5px;

  .table-th {
    color: var(--notice-font-color) !important;
  }

}

.is-visible .toggle-switch-button {
  width: 53px;
}

.td-wrap {
  display: flex;
  align-items: center;
}

.td-wrap.shutdown-timer, .td-wrap.is-visible {
  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.input {
  width: 100%;
  height: 100%;
  border: 0 transparent;
  font-size: 12px;
  padding: 5px;
  color: var(--notice-bg-color);
  background: var(--notice-font-color);
  border-radius: 5px;
  outline: none;
}

.jcalendar {
  color: black;
}

.input-date {
  width: 130px;
}

.radio-inputs {

  .radio {

    .name {
      color: var(--notice-font-color);
    }

    input:checked + .name.NOTICE {
      color: white;
      background-color: red;
    }

    input:checked + .name.EVENT {
      color: white;
      background-color: green;
    }

    input:checked + .name.COUPON {
      color: black;
      background-color: gold;
    }

  }
}

.timer {
  margin-left: 3px;
  color: orange;
}