.capital-raid {
  height: 100%;
  padding: 10px 0;
}

.card {
  width: 600px;
  height: 50px;
  border-radius: 15px;
  background: #1b233d;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    display: block;
    font-size: 17px;
    font-weight: bolder;
    color: white;
    text-align: center;
    letter-spacing: 2px;
  }
}

.body {
  position: relative;
}

.container {
  position: relative;
  margin-top: 10px;

  .search-box {
    max-width: unset;
  }

}

.chip {
  font-size: 0.7rem;
}

.buttons {
  display: flex;
  justify-content: right;

  button.refresh {
    color: white;

    svg {
      margin-left: 8px;
    }
  }

}

