<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" CONTENT="no-cache">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
  <meta name="format-detection" content="telephone=no, email=no, address=no, date=no">

  <link rel="icon" href="/favicon.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />

  <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/loader.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/button.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/event/teamLegend.css" />

  <script src="/static/js/common.js"></script>
  <script src="/static/js/util.js"></script>
  <script src="/static/js/api/event.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/dayjs.min.js" integrity="sha512-FwNWaxyfy2XlEINoSnZh1JQ5TRRtGow0D6XcmAWmYCRgvqOUTnzCxPc9uF35u5ZEpirk1uhlPVA19tflhvnW1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/plugin/duration.min.js" integrity="sha512-t0b2NyBypSms8nA81pldWo0mXbfMotsdYgvs4awmbi/GU/25YBNLnXj+I9DAMV7WGZ8+z8wtRolX7zSF2LN8UQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script type="text/javascript">
    dayjs.locale('ko')
    //dayjs duration 확장
    dayjs.extend(dayjs_plugin_duration)

    function getMedalIcon(rank) {
      let templateId = "";
      if (rank === 1) templateId = "ranking-first-place-template";
      if (rank === 2) templateId = "ranking-second-place-template";
      if (rank === 3) templateId = "ranking-third-place-template";

      const medalTemplate = document.querySelector(`#${templateId}`);
      return document.importNode(medalTemplate.content, true);
    }

    function makeTeamElement(rank, team) {
      const { name, trophies } = team;

      const teamTbodyTemplate = copyTemplateById('legend-team-tbody-template');
      const teamTbody = teamTbodyTemplate.querySelector('.team');

      const teamRow = teamTbody.querySelector('.table-tr');
      teamRow.innerHTML = teamRow.innerHTML
                                     .replace(/{RANK}/, rank)
                                     .replace(/{TEAM_NAME}/, name)
                                     .replace(/{TOTAL_TROPHIES}/, Number(trophies).toLocaleString())

      teamRow.classList.add(`rank-${rank}`);

      if (rank < 4) {
        //순위권 메달 표기
        const medalIcon = getMedalIcon(rank);
        const rankTd = teamRow.querySelector('.table-td.rank');
        rankTd.innerHTML = "";
        rankTd.appendChild(medalIcon);
      }

      return teamTbody;
    }

    function makeMemberRow(member) {
      const { tag, name, trophies } = member;

      const memberRowTemplate = copyTemplateById('team-member-row-template');
      const memberRow = memberRowTemplate.querySelector('.table-tr');

      memberRow.innerHTML = memberRow.innerHTML
                                     .replace(/{NAME}/, name)
                                     .replace(/{TROPHIES}/, trophies);

      return memberRow;
    }

    function drawTeamDetail(teamsElement, team) {
      const teamDetailTemplate = copyTemplateById('legend-team-detail-template');
      const teamDetail = teamDetailTemplate.querySelector('.table');

      const { name, trophies, members } = team
      teamDetail.innerHTML = teamDetail.innerHTML
                                       .replace(/{TEAM_NAME}/, name)
                                       .replace(/{TOTAL_TROPHIES}/, trophies);

      const tableTbody = teamDetail.querySelector('.table-tbody');
      for(const member of members) {
        const memberRow = makeMemberRow(member);
        tableTbody.appendChild(memberRow);
      }

      teamsElement.appendChild(teamDetail);
    }

    function drawTeamLegendTeams(eventTeamLegendSection, teams) {
      if (!teams || !teams.length) return;

      const teamLegend = eventTeamLegendSection.querySelector('.team-legend');
      const rankingTable = teamLegend.querySelector('.rankings .table');
      const teamsElement = teamLegend.querySelector('.teams');
      let rank = 1;
      for (const team of sortByTrophies(teams)) {
        const teamElement = makeTeamElement(rank, team);
        rankingTable.appendChild(teamElement);
        rank++;

        drawTeamDetail(teamsElement, team);
      }
    }

    function makeTeamLegendEventElement(teamLegend) {
      const { name, startDate, endDate, teams } = teamLegend;

      const eventTeamLegendTemplate = copyTemplateById('event-team-legend-template');
      const eventTeamLegendSection = eventTeamLegendTemplate.querySelector('.section-contents');

      const startDateTime = formatYYYYMMDDHHMM(startDate);
      const endDateTime = formatYYYYMMDDHHMM(endDate);
      const period = formatPeriod(startDateTime, endDateTime);
      eventTeamLegendSection.innerHTML = eventTeamLegendSection.innerHTML
                                                               .replace(/{EVENT_NAME}/, name)
                                                               .replace(/{EVENT_PERIOD}/, period);

      drawTeamLegendTeams(eventTeamLegendSection, teams);

      return eventTeamLegendSection;
    }

    function renderTeamLegend(targetClassName, teamLegend) {
      const drawTargetElement = document.querySelector(`.${targetClassName}`);
      const teamLegendEventElement = makeTeamLegendEventElement(teamLegend);
      drawTargetElement.appendChild(teamLegendEventElement);
    }

    async function drawEventTeamLegend() {
      const targetClassName = 'event-team-legend';
      const latestTeamLegend = await fetchLatestTeamLegendEvent();
      renderTeamLegend(targetClassName, latestTeamLegend);
    }

    function getTargetElement(targetClassName) {
      return document.querySelector(`.${targetClassName}`);
    }

    window.onload = async () => {
      // 이벤트 : 팀 전설내기
      drawEventTeamLegend();
    }
  </script>

  <title>아카데미 이벤트</title>
</head>
<body>

    <div class="title event" onclick="renderPage('/event'); return false;">
      <i class="fa-solid fa-star"></i>
      이벤트
      <i class="fa-solid fa-star"></i>
    </div>

    <div class="flip-cards">

      <div class="section-wrapper sections">

        <div class="section-wrapper event-team-legend"></div>

      </div>

    </div>

</body>
<template id="event-team-legend-template">
  <div class="section-contents">

    <div class="section team-legend">
      <div class="sub-title"><span class="decorate-title">{EVENT_NAME}</span></div>
      <div class="rankings">
        <table class="table">
          <caption class="table-caption text-align-center">{EVENT_PERIOD}</caption>
          <thead>
          <tr class="table-tr">
            <th class="table-th">순위</th>
            <th class="table-th">팀 이름</th>
            <th class="table-th">팀 트로피</th>
          </tr>
          </thead>
        </table>
      </div>
      <div class="teams"></div>
    </div>
  </div>
</template>
<template id="legend-team-tbody-template">
  <tbody class="table-tbody team">
  <tr class="table-tr">
    <td class="table-td rank">{RANK}</td>
    <td class="table-td name">{TEAM_NAME}</td>
    <td class="table-td"><div class="td-wrap"><div class="icon trophies"></div>{TOTAL_TROPHIES}</div></td>
  </tr>
  </tbody>
</template>
<template id="legend-team-detail-template">
  <table class="table team-detail">
    <caption class="table-caption font-weight-bold text-align-center">{TEAM_NAME}</caption>
    <tbody class="table-tbody"></tbody>
    <tfoot class="table-tfoot text-align-center">
      <tr class="table-tr bg-lightgoldenrodyellow">
        <td class="table-td font-weight-bold" colspan="2">
          <div class="td-wrap">
            <div class="icon trophies"></div>{TOTAL_TROPHIES}
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</template>
<template id="team-member-row-template">
  <tr class="table-tr">
    <td class="table-td name">{NAME}</td>
    <td class="table-td"><div class="td-wrap"><div class="icon trophies"></div>{TROPHIES}</div></td>
  </tr>
</template>
<template id="ranking-first-place-template">
  <i class="fa-solid fa-medal first-place"></i>
</template>
<template id="ranking-second-place-template">
  <i class="fa-solid fa-medal second-place"></i>
</template>
<template id="ranking-third-place-template">
  <i class="fa-solid fa-medal third-place"></i>
</template>
</html>