<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" CONTENT="no-cache">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
  <meta name="format-detection" content="telephone=no, email=no, address=no, date=no">

  <link rel="icon" href="/favicon.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />

  <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/loader.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/button.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/player/legendRecord.css" />

  <script src="/static/js/common.js"></script>
  <script src="/static/js/util.js"></script>
  <script src="/static/js/api/player.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/dayjs.min.js" integrity="sha512-FwNWaxyfy2XlEINoSnZh1JQ5TRRtGow0D6XcmAWmYCRgvqOUTnzCxPc9uF35u5ZEpirk1uhlPVA19tflhvnW1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/plugin/duration.min.js" integrity="sha512-t0b2NyBypSms8nA81pldWo0mXbfMotsdYgvs4awmbi/GU/25YBNLnXj+I9DAMV7WGZ8+z8wtRolX7zSF2LN8UQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- chartjs -->

  <script type="text/javascript">

    dayjs.locale('ko')
    //dayjs duration 확장
    dayjs.extend(dayjs_plugin_duration)

    function makeChartDataset(rows) {
      const sortedRows = rows.sort((a, b) => new Date(a.x) - new Date(b.x));
      return {
        datasets: [{
          data: sortedRows,
          fill: false,
          backgroundColor: 'rgb(255,107,0)',
          borderColor: 'rgb(255,107,0)',
          tension: 0.1
        }]
      }
    }
    function renderRecordChart(canvas, rows) {
      const data = makeChartDataset(rows);

      new Chart(canvas, {
        type: 'line',
        data: data,
        options: {
          plugins: {
            title: {
                display: true,
                text: "일자별 순위 그래프"
            },
            legend: {
              display: false,
              position: 'top'
            }
          }
        }
      });
    }

    function makeRecord(record) {
      const { diffTrophies, recordedAt } = record;
      const recordRowTemplate = copyTemplateById('record-row-template');
      const recordRow = recordRowTemplate.querySelector('.record-row');

      let timeAgo = getMinutesDifferenceFromNow(recordedAt);
      if (timeAgo < 60) {
        timeAgo += "분";
      } else {
        timeAgo = getHoursDifferenceFromNow(recordedAt);
        if (timeAgo < 24) {
          timeAgo = timeAgo + "시간";
        } else {
          timeAgo = getDaysDifferenceFromNow(recordedAt) + "일";
        }
      }

      let formatTrophies = diffTrophies;
      if (formatTrophies >= 0) {
        formatTrophies = `+${formatTrophies}`;
      }

      recordRow.innerHTML = recordRow.innerHTML
                                     .replace(/{TROPHIES}/, formatTrophies)
                                     .replace(/{RECORDED_TIME}/, timeAgo);

      return recordRow;
    }

    function renderRecords(recordElement, records) {
      const attackRecordTable = recordElement.querySelector('.table.attack');
      const defenceRecordTable = recordElement.querySelector('.table.defence');

      let attackTotalTrophies = 0;
      let defenceTotalTrophies = 0;

      for (const record of records) {
        if (record.diffTrophies > 0) {
          // 공격 처리
          attackTotalTrophies = addRecordToTable(record, attackRecordTable, attackTotalTrophies, 1);
        } else if (record.diffTrophies < 0) {
          // 방어 처리
          defenceTotalTrophies = addRecordToTable(record, defenceRecordTable, defenceTotalTrophies, -1);
        } else {
          // 트로피 0점 또는 추적 실패 케이스
          const { updatedAttackTotalTrophies, updatedDefenceTotalTrophies } = addZeroRecordToTable(record, attackRecordTable, defenceRecordTable, attackTotalTrophies, defenceTotalTrophies);

          attackTotalTrophies = updatedAttackTotalTrophies;
          defenceTotalTrophies = updatedDefenceTotalTrophies;
        }
      }

      attackRecordTable.innerHTML = attackRecordTable.innerHTML.replace(/{ATTACK_TOTAL_TROPHIES}/, `+${attackTotalTrophies}`);
      defenceRecordTable.innerHTML = defenceRecordTable.innerHTML.replace(/{DEFENCE_TOTAL_TROPHIES}/, defenceTotalTrophies);

      function addRecordToTable(record, targetTable, totalTrophies, diffValue) {
        const targetTbody = targetTable.querySelector('.table-tbody');

        while (record.diffTrophies * diffValue >= 40) {
          const newRecord = { ...record, diffTrophies: diffValue * 40 }; // 40 또는 -40으로 분할
          const newRecordRow = makeRecord(newRecord);
          targetTbody.appendChild(newRecordRow);
          totalTrophies += newRecord.diffTrophies;
          record.diffTrophies -= diffValue * 40;
        }

        if (record.diffTrophies !== 0) {
          const remainingRecordRow = makeRecord(record); // 남은 트로피 처리
          targetTbody.appendChild(remainingRecordRow);
          totalTrophies += record.diffTrophies;
        }

        return totalTrophies;
      }

      function addZeroRecordToTable(record, attackRecordTable, defenceRecordTable, attackTotalTrophies, defenceTotalTrophies) {
        // 0점으로 수집된 기록을 처리한다.
        const { oldAttackWins, newAttackWins, oldDefenceWins, newDefenceWins } = record;
        const recordRow = makeRecord(record);

        const attackRecordTbody = attackRecordTable.querySelector('.table-tbody');
        const defenceRecordTbody = defenceRecordTable.querySelector('.table-tbody');

        if (newAttackWins > oldAttackWins) {
          // 공격 성공 횟수가 있는 경우 공격과 방어가 동시에 반영된 데이터로 양쪽에 40점씩 보정
          const attackCalibrationRecord = { ...record, diffTrophies: 40 };
          const attackCalibrationRecordRow = makeRecord(attackCalibrationRecord);
          attackRecordTbody.appendChild(attackCalibrationRecordRow);
          attackTotalTrophies += 40;

          const defenceCalibrationRecord = { ...record, diffTrophies: -40 };
          const defenceCalibrationRecordRow = makeRecord(defenceCalibrationRecord);
          defenceRecordTbody.appendChild(defenceCalibrationRecordRow);
          defenceTotalTrophies -= 40;

          return { updatedAttackTotalTrophies: attackTotalTrophies, updatedDefenceTotalTrophies: defenceTotalTrophies };
        }

        if (newDefenceWins > oldDefenceWins) {
          recordRow.querySelector('.table-td').classList.add('bg-green');
          
          // 방어 성공한 경우
          defenceRecordTbody.appendChild(recordRow);

          return { updatedAttackTotalTrophies: attackTotalTrophies, updatedDefenceTotalTrophies: defenceTotalTrophies };
        }

        // 전설 8공이 채워지지 않은 경우
        if (attackRecordTbody.children.length < 8) {
          attackRecordTbody.appendChild(recordRow);
        } else {
          defenceRecordTbody.appendChild(recordRow);
        }

        return { updatedAttackTotalTrophies: attackTotalTrophies, updatedDefenceTotalTrophies: defenceTotalTrophies };
      }
    }

    function renderLegendRecord(playerLegendElement, baseDate, records) {
      const targetElement = playerLegendElement.querySelector('.player-records');
      const playerLegendRecordTemplate = copyTemplateById('player-legend-record-template');
      const playerLegendRecordElement = playerLegendRecordTemplate.querySelector('.player-record');

      renderRecords(playerLegendRecordElement, records);

      let startTrophies = records[records.length-1].oldTrophies;
      let endTrophies = records[0].newTrophies;

      let resultTrophies = endTrophies - startTrophies;

      let displayResultTrophies = resultTrophies;
      if (resultTrophies >= 0) {
        displayResultTrophies = `+${resultTrophies}`
      }

      playerLegendRecordElement.innerHTML = playerLegendRecordElement.innerHTML
                                                                     .replace(/{RECORD_DATE}/, baseDate)
                                                                     .replace(/{START_TROPHIES}/, Number(startTrophies).toLocaleString())
                                                                     .replace(/{END_TROPHIES}/, Number(endTrophies).toLocaleString())
                                                                     .replace(/{RECORD_RESULT_TROPHIES}/, String(displayResultTrophies));

      const summaryElement = playerLegendRecordElement.querySelector('.result.summary');
      if (resultTrophies > 0) {
        summaryElement.classList.add('bg-green');
      } else if (resultTrophies < 0) {
        summaryElement.classList.add('bg-crimson');
      }


      targetElement.appendChild(playerLegendRecordElement);
    }

    function renderLegendRecordChart(playerLegend, playerTag, chartDataset) {

      const recordChartTemplate = copyTemplateById('record-chart-template');
      const recordChart = recordChartTemplate.querySelector('.record-history-chart');
      const canvas = recordChart.querySelector('canvas');

      canvas.id = removeHashTag(playerTag);

      renderRecordChart(canvas, chartDataset);

      const targetElement = playerLegend.querySelector('.record-chart');
      targetElement.appendChild(canvas);
    }

    function displayPlayerRecord(tag) {
      const playerRecordElement = document.querySelector(`.player-${tag}`);
      toggleDisplay(playerRecordElement);
    }

    function renderDisplayButton(record) {
      const { tag, name } = record;

      const radioItemTemplate = copyTemplateById('radio-item-template');
      const radioItem = radioItemTemplate.querySelector('.radio.item');

      radioItem.innerHTML = radioItem.innerHTML
                                     .replace(/{TAG}/g, removeHashTag(tag))
                                     .replace(/{NAME}/, name);

      const radioInputs = document.querySelector('.radio-inputs');
      radioInputs.appendChild(radioItem);
    }

    async function drawLegendRecord(playerTag) {
      const legendRecords = await fetchPlayerLegendRecord(playerTag);

      if (!legendRecords.length) return;

      const metaData = legendRecords[0];
      renderDisplayButton(metaData);

      // chart dataset initial
      const chartDataset = [];

      const playerLegendTemplate = copyTemplateById('player-legend-template');
      const playerLegend = playerLegendTemplate.querySelector('.player-legend-wrapper');
      playerLegend.innerHTML = playerLegend.innerHTML.replace(/{PLAYER_NAME}/, metaData.name);

      playerLegend.classList.add(`player-${removeHashTag(metaData.tag)}`)

      const recordMap = convertArrayToMapByKey(legendRecords, 'baseDate', true);
      for(const [baseDate, records] of recordMap) {
        renderLegendRecord(playerLegend, baseDate, records);
        addChartDataset(chartDataset, baseDate, records);
      }

      renderLegendRecordChart(playerLegend, playerTag, chartDataset);

      const targetElement = document.querySelector('.legend-record-wrapper');
      targetElement.appendChild(playerLegend);

      function addChartDataset(chartDataset, baseDate, records) {
        const [latest] = records;
        const { newTrophies } = latest;
        chartDataset.push({
          x: baseDate,
          y: newTrophies
        })
      }
    }

    window.onload = async () => {
      const playerTags = await fetchAllLegendRecordPlayers();

      for (const playerTag of playerTags) {
        await drawLegendRecord(playerTag);
      }
    }
  </script>

  <title>전설 기록</title>
</head>
<body>

    <div class="title">
      <div class="icon trophies"></div>
      <span class="label">전설 기록</span>
    </div>
    <div class="description">데이터 수집 결과에 따라 차이가 있을 수 있습니다</div>

    <div class="players">
      <div class="radio-inputs filter">

      </div>
    </div>

    <div class="legend-record-wrapper"></div>

</body>
<template id="radio-item-template">
  <label class="radio item">
    <input type="checkbox" name="checkbox-{TAG}" onchange="displayPlayerRecord('{TAG}'); return false;">
    <span class="name">{NAME}</span>
  </label>
</template>
<template id="record-row-template">
  <tr class="table-tr record-row">
    <td class="table-td">
      <div class="td-wrap justify-content-space-between">
        <div class="record-info">
          <span class="count">{TROPHIES}</span><div class="icon trophies"></div>
        </div>
        <div class="recorded-time font-weight-bold">{RECORDED_TIME} 전</div>
      </div>
    </td>
  </tr>
</template>
<template id="player-legend-record-template">
  <div class="player-record">

    <div class="result summary">
      <span class="label">{RECORD_DATE}</span>
      <div class="count">{RECORD_RESULT_TROPHIES}<div class="icon trophies"></div></div>
    </div>

    <div class="wrap display-flex justify-content-space-between">
      <div class="summary bg-black">
          <div class="label">시작</div>
          <div class="count">{START_TROPHIES}<div class="icon trophies"></div></div>
      </div>
      <div class="summary bg-black">
        <div class="label">종료</div>
        <div class="count">{END_TROPHIES}<div class="icon trophies"></div></div>
      </div>
    </div>

    <div class="detail">

      <table class="table attack">
        <caption class="table-caption summary bg-black">
          <span class="label">공격</span>
          <div class="attack-total count">{ATTACK_TOTAL_TROPHIES} <div class="icon trophies"></div></div>
        </caption>
        <tbody class="table-tbody"></tbody>
      </table>

      <table class="table defence">
        <caption class="table-caption summary bg-black">
          <span class="label">방어</span>
          <div class="defence-total count">{DEFENCE_TOTAL_TROPHIES}<div class="icon trophies"></div></div>
        </caption>
        <tbody class="table-tbody"></tbody>
      </table>

    </div>

  </div>
</template>
<template id="player-legend-template">
  <div class="player-legend-wrapper display-none">
    <div class="player-name">{PLAYER_NAME}</div>
    <div class="information">
      <div class="description"><span class="color-red">* 40점 이상/이하로 수집된 데이터는 분할하여 표기되므로 차이가 있을 수 있습니다.</span></div>
    </div>
    <div class="player-records"></div>
    <div class="information">
      <div class="description"><span class="color-red">* 가로스크롤을 통해 이전 기록을 확인할 수 있습니다</span></div>
    </div>
    <div class="record-chart"></div>
  </div>
</template>
<template id="record-chart-template">
  <div class="record-history-chart">
    <canvas></canvas>
  </div>
</template>
</html>