server:
  port: 8080

spring:
  application:
    name: coc
  thymeleaf:
    cache: false
  mvc:
    static-path-pattern: /static/**
  h2:
    console:
      enabled: true
      path: /cms-db-console
      settings:
        web-allow-others: true
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:~/database/h2
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      connection-timeout: 1000
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: false
    hibernate:
      ddl-auto: update

external:
  coc:
    api-key: ${COC_API_KEY}
    domain: https://api.clashofclans.com
    end-point:
      clans:
        prefix: /v1/clans
        clan-tag: /{clanTag}
        capital-raid-seasons: /{clanTag}/capitalraidseasons
        current-war: /{clanTag}/currentwar
        league-group: /{clanTag}/currentwar/leaguegroup
        members: /{clanTag}/members
      players:
        prefix: /v1/players
        player: /{playerTag}
      leagues:
        prefix: /v1
        leagues: /leagues
      clanwarleagues:
        prefix: /v1/clanwarleagues/wars
        round-tag: /{roundTag}

cms:
  admin-id: ${ADMIN_ID}
  admin-password: ${ADMIN_PASSWORD}