.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  font-size: 1em;
  font-weight: bold;
  background-color: gray;
  border-radius: 10px;
  width: 270px;
  justify-content: center;
  color: #fff;
}

.clans-wrapper {
  margin-top: 5px;
  background-color: coral;
  border-radius: 10px;
  font-weight: bold;
}

.heroes-wrapper {
  width: 270px;
  display: flex;
  justify-content: space-around;
}

.heroes-wrapper:not(:first-child) {
  margin-top: 10px;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .hero {
    width: 40px;
    height: 40px;
  }

  .rankings {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 15px;

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .equipments {
        display: flex;

        .img-icon {
          width: 30px;
          height: 30px;
          border-radius: 10px;
        }

        .img-icon:not(:first-child) {
          margin-left: 5px;
        }
      }

      .count {
        margin-left: 5px;
        font-weight: bold;
        font-size: 10px;
      }
    }

    .row:not(:first-child) {
      margin-top: 10px;
    }

  }
}