.display-none {
  display: none !important;
}

.card-wrapper.empty-clan {
  height: 100px;
  display: flex;
  align-items: center;
}

.card-wrapper {
  width: 100%;
  max-width: 600px;
  position: relative;
  display: flex;
  justify-content: center;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card-container {
  width: 100%;
  padding: 5px;
}

.card-title {
  border: 1px solid gray;
  padding: 5px 0;
  width: 100%;
  text-align: center;
  border-radius: 9px;
  background-color: #0000007a;
  color: white;
  font-weight: bold;
}

.card-wrapper i.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2em;
  width: 2em;
  background-color: #343f4f;
  border-radius: 50%;
  text-align: center;
  line-height: 2em;
  color: #fff;
  font-size: 1rem;
  transition: all 0.3s linear;
  z-index: 100;
  cursor: pointer;
  opacity: 0.5;
}

.button-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-5px, 3px);
}

.card-wrapper i.button:hover {
  opacity: 1;
}

i.button:active {
  transform: scaleX(0.94) translateY(-50%);
}

i#prev {
  left: 1px;
}

i#next {
  right: 1px;
}

.card-container .carousel {
  width: 100%;
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.4s ease;
}

.section-clan-war {
  position: relative;
}

.carousel .card-contents {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.card-contents:not(:first-child) {
  margin-top: 10px;
}