.display-none {
  display: none;
}

.card-wrapper {
  position: relative;
  display: flex;
  max-width: 375px;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card-container {
  height: 95%;
  max-width: 365px;
  width: 100%;
  overflow: hidden;
}

.card-wrapper i.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2em;
  width: 2em;
  background-color: #343f4f;
  border-radius: 50%;
  text-align: center;
  line-height: 2em;
  color: #fff;
  font-size: 1rem;
  transition: all 0.3s linear;
  z-index: 100;
  cursor: pointer;
}

i.button:active {
  transform: scaleX(0.94) translateY(-50%);
}

i#prev {
  left: 1px;
}

i#next {
  right: 1px;
}

.card-container .carousel {
  height: 100%;
  width: 100%;
  display: flex;
  transition: all 0.4s ease;
}

.carousel .card-contents {
  height: 100%;
  width: 680px;
  object-fit: cover;
  border-radius: 18px;
  border: 10px solid #fff;
}