.img-icon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 35px;
  height: 35px;
}

/** 이미지 리소스 없을 경우 표기 */
.img-icon:before {
  content: attr(data-name);
  font-size: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.img-icon.normal {
  background-color: skyblue;
}

.img-icon.epic {
  background-color: mediumpurple;
}

.img-icon.barbarian_puppet {
  background-image: url("/static/images/hero/equipment/Barbarian_Puppet.png");
  color: rgba(0, 0, 0, 0);
}
.img-icon.earthquake_boots {
  background-image: url("/static/images/hero/equipment/Earthquake_Boots.png");
  color: rgba(0, 0, 0, 0);
}
.img-icon.giant_gauntlet {
  background-image: url("/static/images/hero/equipment/Giant_Gauntlet.png");
  color: rgba(0, 0, 0, 0);
}
.img-icon.rage_vial {
  background-image: url("/static/images/hero/equipment/Rage_Vial.png");
  color: rgba(0, 0, 0, 0);
}
.img-icon.vampstache {
  background-image: url("/static/images/hero/equipment/Vampstache.png");
  color: rgba(0, 0, 0, 0);
}
.img-icon.spiky_ball {
  background-image: url("/static/images/hero/equipment/Spiky_Ball.png");
  color: rgba(0, 0, 0, 0);
}


.img-icon.archer_puppet {
  background-image: url("/static/images/hero/equipment/Archer_Puppet.png");
  color: rgba(0, 0, 0, 0);
}
.img-icon.giant_arrow {
  background-image: url("/static/images/hero/equipment/Giant_Arrow.png");
  color: rgba(0, 0, 0, 0);
}
.img-icon.frozen_arrow {
  background-image: url("/static/images/hero/equipment/Frozen_Arrow.png");
  color: rgba(0, 0, 0, 0);
}
.img-icon.invisibility_vial {
  background-image: url("/static/images/hero/equipment/Invisibility_Vial.png");
  color: rgba(0, 0, 0, 0);
}
.img-icon.lavaloon_puppet {
  background-image: url("/static/images/hero/equipment/Lavaloon_Puppet.png");
  color: rgba(0, 0, 0, 0);
}
.img-icon.healer_puppet {
  background-image: url("/static/images/hero/equipment/Healer_Puppet.png");
  color: rgba(0, 0, 0, 0);
}
.img-icon.magic_mirror {
  background-image: url("/static/images/hero/equipment/Magic_Mirror.png");
  color: rgba(0, 0, 0, 0);
}

.img-icon.life_gem {
  background-image: url("/static/images/hero/equipment/Life_Gem.png");
  color: rgba(0, 0, 0, 0);
}
.img-icon.rage_gem {
  background-image: url("/static/images/hero/equipment/Rage_Gem.png");
  color: rgba(0, 0, 0, 0);
}
.img-icon.healing_tome {
  background-image: url("/static/images/hero/equipment/Healing_Tome.png");
  color: rgba(0, 0, 0, 0);
}
.img-icon.eternal_tome {
  background-image: url("/static/images/hero/equipment/Eternal_Tome.png");
  color: rgba(0, 0, 0, 0);
}
.img-icon.fireball {
  background-image: url("/static/images/hero/equipment/Fireball.png");
  color: rgba(0, 0, 0, 0);
}


.img-icon.royal_gem {
  background-image: url("/static/images/hero/equipment/Royal_Gem.png");
  color: rgba(0, 0, 0, 0);
}
.img-icon.haste_vial {
  background-image: url("/static/images/hero/equipment/Haste_Vial.png");
  color: rgba(0, 0, 0, 0);
}
.img-icon.seeking_shield {
  background-image: url("/static/images/hero/equipment/Seeking_Shield.png");
  color: rgba(0, 0, 0, 0);
}
.img-icon.hog_rider_puppet {
  background-image: url("/static/images/hero/equipment/Hog_Rider_Puppet.png");
  color: rgba(0, 0, 0, 0);
}
.img-icon.rocket_spear {
  background-image: url("/static/images/hero/equipment/Rocket_Spear.png");
  color: rgba(0, 0, 0, 0);
}