.hero {
  position: relative;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hero.barbarian_king {
  background-image: url(/static/images/hero/Barbarian_King.png);
}
.hero.archer_queen {
  background-image: url(/static/images/hero/Archer_Queen.png);
}
.hero.grand_warden {
  background-image: url(/static/images/hero/Grand_Warden.png);
}
.hero.royal_champion {
  background-image: url(/static/images/hero/Royal_Champion.png);
}