.img-icon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 35px;
  height: 35px;
}

.img-icon.barbarian_puppet {
  background-image: url("/static/images/hero/equipment/Barbarian_Puppet.png");
}
.img-icon.earthquake_boots {
  background-image: url("/static/images/hero/equipment/Earthquake_Boots.png");
}
.img-icon.giant_gauntlet {
  background-image: url("/static/images/hero/equipment/Giant_Gauntlet.png");
}
.img-icon.rage_vial {
  background-image: url("/static/images/hero/equipment/Rage_Vial.png");
}
.img-icon.vampstache {
  background-image: url("/static/images/hero/equipment/Vampstache.png");
}
.img-icon.spiky_ball {
  background-image: url("/static/images/hero/equipment/Spiky_Ball.png");
}


.img-icon.archer_puppet {
  background-image: url("/static/images/hero/equipment/Archer_Puppet.png");
}
.img-icon.giant_arrow {
  background-image: url("/static/images/hero/equipment/Giant_Arrow.png");
}
.img-icon.frozen_arrow {
  background-image: url("/static/images/hero/equipment/Frozen_Arrow.png");
}
.img-icon.invisibility_vial {
  background-image: url("/static/images/hero/equipment/Invisibility_Vial.png");
}
.img-icon.healer_puppet {
  background-image: url("/static/images/hero/equipment/Healer_Puppet.png");
}


.img-icon.life_gem {
  background-image: url("/static/images/hero/equipment/Life_Gem.png");
}
.img-icon.rage_gem {
  background-image: url("/static/images/hero/equipment/Rage_Gem.png");
}
.img-icon.healing_tome {
  background-image: url("/static/images/hero/equipment/Healing_Tome.png");
}
.img-icon.eternal_tome {
  background-image: url("/static/images/hero/equipment/Eternal_Tome.png");
}
.img-icon.fireball {
  background-image: url("/static/images/hero/equipment/Fireball.png");
}


.img-icon.royal_gem {
  background-image: url("/static/images/hero/equipment/Royal_Gem.png");
}
.img-icon.haste_vial {
  background-image: url("/static/images/hero/equipment/Haste_Vial.png");
}
.img-icon.seeking_shield {
  background-image: url("/static/images/hero/equipment/Seeking_Shield.png");
}
.img-icon.hog_rider_puppet {
  background-image: url("/static/images/hero/equipment/Hog_Rider_Puppet.png");
}

.img-icon.normal {
  background-color: skyblue;
}

.img-icon.epic {
  background-color: mediumpurple;
}