.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card.red-1 {
  background-color: #ff5a77;
}
.card.red-2 {
  background-color: #fd375a;
}
.card.red-3 {
  background-color: #ff2148;
}
.card.red-9 {
  background-color: #970000;
}

.card.blue {
  background-color: #3b82f6;
}

.card.green {
  background-color: #22c55e;
}


.card.black {
  background-color: black;
}

.card.coral-1 {
  background-color: #ff916a;
}

.card.coral {
  background-color: #ff7f50;
}

.card.violet {
  background-color: #b13bf6;
}

.card.yellow {
  background-color: #e8c42a;
}

.card-group {
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-weight: bold;
}

.description {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  border: 1px solid #e9e7e7;
  padding: 5px;
  border-radius: 10px;
  background-color: #ffffd6;
  color: #4c4c4c;
}

.cards {
  gap: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: 400px) {
  .card {
    width: 140px !important;
  }
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 60px;
  width: 180px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.card p.second-text {
  font-size: .7em;
}

.card:hover {
  transform: scale(1.05, 1.05);
}

.card-group:hover > .card:not(:hover) {
  /*filter: blur(10px);*/
  transform: scale(0.9, 0.9);
}