.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  width: 290px;
  font-weight: bold;
  margin-bottom: 10px;
  border: 1px solid #e9e7e7;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffd6;
  color: #4c4c4c;
  font-size: 14px;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link-list {
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.button-chip {
  width: 290px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #397998;
}

.button-chip:hover {
  transform: scale(1.05, 1.05);
}

.card-group:hover > .button-chip:not(:hover) {
  /*filter: blur(10px);*/
  transform: scale(0.9, 0.9);
}