.img-icon {
  position: relative;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.img-icon.lassi {
  background-image: url(/static/images/pets/Lassi.png);
}
.img-icon.mighty_yak {
  background-image: url(/static/images/pets/Mighty_Yak.png);
}
.img-icon.electro_owl {
  background-image: url(/static/images/pets/Electro_Owl.png);
}
.img-icon.unicorn {
  background-image: url(/static/images/pets/Unicorn.png);
}
.img-icon.phoenix {
  background-image: url(/static/images/pets/Phoenix.png);
}
.img-icon.poison_lizard {
  background-image: url(/static/images/pets/Poison_Lizard.png);
}
.img-icon.diggy {
  background-image: url(/static/images/pets/Diggy.png);
}
.img-icon.frosty {
  background-image: url(/static/images/pets/Frosty.png);
}
.img-icon.spirit_fox {
  background-image: url(/static/images/pets/Spirit_Fox.png);
}
.img-icon.angry_jelly {
  background-image: url(/static/images/pets/Angry_Jelly.png);
}