table {
  border: 1px #a39485 solid;
  font-size: .9em;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

.table-caption {
  font-size: 5rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

th {
  text-align: left;
}

thead {
  font-weight: bold;
  color: #fff;
  background-color: var(--button-background-color);
}

tbody.loading {
  background-color: lightgray;
}

th, td {
  padding: 1em .5em;
  vertical-align: middle;
  font-size: 0.8em;
}

td {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

a {
  color: var(--button-background-color);
}

@media all and (max-width: 768px) {

  table, thead, tbody, th, td, tr {
    display: block;
  }

  th {
    text-align: right;
  }

  table {
    position: relative;
    padding-bottom: 0;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
  }

  thead {
    float: left;
    white-space: nowrap;
  }

  tbody {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;
  }

  tr {
    display: inline-block;
    vertical-align: top;
  }

  th {
    border-bottom: 1px solid #a39485;
  }

  td {
    border-bottom: 1px solid #e5e5e5;
  }


}