<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" CONTENT="no-cache">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
  <meta name="format-detection" content="telephone=no, email=no, address=no, date=no">

  <link rel="icon" href="/favicon.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />

  <link rel="stylesheet" type="text/css" href="/css/common.css" />
  <link rel="stylesheet" type="text/css" href="/css/loader.css" />
  <link rel="stylesheet" type="text/css" href="/css/button.css" />
  <link rel="stylesheet" type="text/css" href="/css/townhall.css" />
  <link rel="stylesheet" type="text/css" href="/css/hallOfFame.css" />

  <script src="/js/common.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/api/raid.js"></script>
  <script src="/js/api/player.js"></script>
  <script src="/js/api/clan.js"></script>
  <script src="/js/api/clanWar.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/dayjs.min.js" integrity="sha512-FwNWaxyfy2XlEINoSnZh1JQ5TRRtGow0D6XcmAWmYCRgvqOUTnzCxPc9uF35u5ZEpirk1uhlPVA19tflhvnW1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/plugin/duration.min.js" integrity="sha512-t0b2NyBypSms8nA81pldWo0mXbfMotsdYgvs4awmbi/GU/25YBNLnXj+I9DAMV7WGZ8+z8wtRolX7zSF2LN8UQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script type="text/javascript">
    dayjs.locale('ko')
    //dayjs duration 확장
    dayjs.extend(dayjs_plugin_duration)

    function showLoading(targetClassName) {
      const targetElement = getTargetElement(`leaderboard-wrapper.${targetClassName}`);
      const loader = targetElement.querySelector('.loader-circle');
      toggleDisplay(loader);
    }

    function hideLoading(targetClassName) {
      const targetElement = getTargetElement(`leaderboard-wrapper.${targetClassName}`);
      const loader = targetElement.querySelector('.loader-circle');
      toggleDisplay(loader);
    }

    function getMedalIcon(rank) {
      let templateId = "";
      if (rank === 1) templateId = "ranking-first-place-template";
      if (rank === 2) templateId = "ranking-second-place-template";
      if (rank === 3) templateId = "ranking-third-place-template";

      const medalTemplate = document.querySelector(`#${templateId}`);
      return document.importNode(medalTemplate.content, true);
    }

    function makeTopPlayerEmptyRow() {
      const topPlayerTemplate = copyTemplateById('leaderboard-top-player-template');
      const topPlayer = topPlayerTemplate.querySelector('.player');
      topPlayer.innerHTML = "";
      return topPlayer;
    }

    function makeTopPlayerRow(rank, player) {
      const { name, score, townHallLevel, iconClassName } = player
      const topPlayerTemplate = copyTemplateById('leaderboard-top-player-template');
      const topPlayer = topPlayerTemplate.querySelector('.player');

      topPlayer.innerHTML = topPlayer.innerHTML
                                     .replace(/{NAME}/, name)
                                     .replace(/{USER_HALL_LEVEL}/, townHallLevel)
                                     .replace(/{SCORE}/, Number(score).toLocaleString())
                                     .replace(/{ICON_CLASS_NAME}/, iconClassName);

      const medalIcon = getMedalIcon(rank);
      topPlayer.prepend(medalIcon);

      topPlayer.classList.add(`top-player-${rank}`);

      return topPlayer;
    }

    function makePlayerRow(rank, player) {
      const { name, score, iconClassName } = player
      const topPlayerTemplate = copyTemplateById('leaderboard-player-template');
      const topPlayer = topPlayerTemplate.querySelector('.player');

      topPlayer.innerHTML = topPlayer.innerHTML
                                     .replace(/{RANK}/, rank)
                                     .replace(/{NAME}/, name)
                                     .replace(/{SCORE}/, Number(score).toLocaleString())
                                     .replace(/{ICON_CLASS_NAME}/, iconClassName);

      return topPlayer;
    }

    function drawLeaderBoardTopPlayer(leaderboard, topPlayers, functionMakePlayerRow) {
      const target = leaderboard.querySelector('.top-3');

      const recordRows = [];
      let rank = 1;
      for (const topPlayer of topPlayers) {
        const topPlayerRow = functionMakePlayerRow(rank, topPlayer);

        switch (rank) {
          case 1: recordRows.push(topPlayerRow); break; // 배열의 가운데 위치해야함
          case 2: recordRows.unshift(topPlayerRow); break; // 배열의 첫번째 위치해야함
          case 3: recordRows.push(topPlayerRow); break; // 배열의 마지막에 위치해야함
        }

        rank++;
      }

      // 빈 순위 채워주기
      for (let rowCount = recordRows.length; rowCount < 3; rowCount++) {
        const emptyRow = makeTopPlayerEmptyRow();
        if (recordRows.length === 1) {
          recordRows.unshift(emptyRow);
        } else {
          recordRows.push(emptyRow);
        }
      }

      recordRows.forEach(record => target.appendChild(record));
    }

    function drawLeaderBoardOtherPlayer(leaderboard, players, functionMakePlayerRow) {
      const target = leaderboard.querySelector('.other-players');

      let rank = 4;
      for (const player of players) {
        const playerRow = functionMakePlayerRow(rank, player);
        target.appendChild(playerRow);

        rank++;
      }
    }

    function makeTopPlayerDonationRow(rank, player) {
      const { name, townHallLevel, troopCount, spellCount, siegeCount } = player;

      const topPlayerTemplate = copyTemplateById('leaderboard-top-player-donation-template');
      const topPlayer = topPlayerTemplate.querySelector('.player');

      topPlayer.innerHTML = topPlayer.innerHTML
                                     .replace(/{NAME}/, name)
                                     .replace(/{USER_HALL_LEVEL}/, townHallLevel)
                                     .replace(/{TROOP_COUNT}/, Number(troopCount).toLocaleString())
                                     .replace(/{SPELL_COUNT}/, Number(spellCount).toLocaleString())
                                     .replace(/{SIEGE_COUNT}/, Number(siegeCount).toLocaleString());

      const medalIcon = getMedalIcon(rank);
      topPlayer.prepend(medalIcon);

      topPlayer.classList.add(`top-player-${rank}`);

      return topPlayer;
    }

    function makePlayerDonationRow(rank, player) {
      const { name, troopCount, spellCount, siegeCount } = player;
      const topPlayerTemplate = copyTemplateById('leaderboard-player-donation-template');
      const topPlayer = topPlayerTemplate.querySelector('.player');

      topPlayer.innerHTML = topPlayer.innerHTML
                                     .replace(/{RANK}/, rank)
                                     .replace(/{NAME}/, name)
                                     .replace(/{TROOP_COUNT}/, Number(troopCount).toLocaleString())
                                     .replace(/{SPELL_COUNT}/, Number(spellCount).toLocaleString())
                                     .replace(/{SIEGE_COUNT}/, Number(siegeCount).toLocaleString());

      return topPlayer;
    }

    function drawLeaderboardRecord(leaderboard, rankingRecords, functionMakeTopPlayerRow, functionMakePlayerRow) {
      drawLeaderBoardTopPlayer(leaderboard, rankingRecords.splice(0, 3), functionMakeTopPlayerRow);
      drawLeaderBoardOtherPlayer(leaderboard, rankingRecords, functionMakePlayerRow);
    }

    function makeTopPlayerClanWarRow(rank, player) {
      const { name, townHallLevel, clan_name, totalStars, totalDestructionPercentage, avgDuration } = player;

      const topPlayerTemplate = copyTemplateById('leaderboard-top-player-clan-war-template');
      const topPlayer = topPlayerTemplate.querySelector('.player');

      topPlayer.innerHTML = topPlayer.innerHTML
                                     .replace(/{NAME}/, name)
                                     .replace(/{USER_HALL_LEVEL}/, townHallLevel)
                                     .replace(/{STARS}/, totalStars)
                                     .replace(/{PERCENTAGES}/, totalDestructionPercentage)
                                     .replace(/{DURATION}/, formatMinuteSecond(Number(avgDuration)));

      const medalIcon = getMedalIcon(rank);
      topPlayer.prepend(medalIcon);

      topPlayer.classList.add(`top-player-${rank}`);

      return topPlayer;
    }

    function makePlayerClanWarRow(rank, player) {
      const { name, clan_name, totalStars, totalDestructionPercentage, avgDuration } = player;
      const topPlayerTemplate = copyTemplateById('leaderboard-player-clan-war-template');
      const topPlayer = topPlayerTemplate.querySelector('.player');

      topPlayer.innerHTML = topPlayer.innerHTML
                                     .replace(/{RANK}/, rank)
                                     .replace(/{NAME}/, name)
                                     .replace(/{STARS}/, totalStars)
                                     .replace(/{PERCENTAGES}/, totalDestructionPercentage)
                                     .replace(/{DURATION}/, formatMinuteSecond(Number(avgDuration)));

      return topPlayer;
    }


    function makeTopPlayerLeagueRow(rank, player) {
      const { name, townHallLevel, avgDuration } = player
      const topPlayerTemplate = copyTemplateById('leaderboard-top-player-league-template');
      const topPlayer = topPlayerTemplate.querySelector('.player');

      topPlayer.innerHTML = topPlayer.innerHTML
                                     .replace(/{NAME}/, name)
                                     .replace(/{USER_HALL_LEVEL}/, townHallLevel)
                                     .replace(/{DURATION}/, formatMinuteSecond(Number(avgDuration)));

      const medalIcon = getMedalIcon(rank);
      topPlayer.prepend(medalIcon);

      topPlayer.classList.add(`top-player-${rank}`);

      return topPlayer;
    }

    function makePlayerLeagueRow(rank, player) {
      const { name, avgDuration } = player
      const topPlayerTemplate = copyTemplateById('leaderboard-player-league-template');
      const topPlayer = topPlayerTemplate.querySelector('.player');

      topPlayer.innerHTML = topPlayer.innerHTML
                                     .replace(/{RANK}/, rank)
                                     .replace(/{NAME}/, name)
                                     .replace(/{DURATION}/, formatMinuteSecond(Number(avgDuration)));

      return topPlayer;
    }

    function renderLeaderboard(sectionClassName, leaderboardTitle, rankingRecords, iconClassName) {
      const leaderboard = makeLeaderboard(leaderboardTitle);

      const drawRecords = rankingRecords.map(rankingRecord => makeDrawRecord(rankingRecord, iconClassName));

      if (drawRecords.length) {
        drawLeaderboardRecord(leaderboard, drawRecords, makeTopPlayerRow, makePlayerRow);
      } else {
        // 데이터가 없을 경우
        // 데이터 없을 경우
        leaderboard.querySelector('.top-3').innerHTML = `
          <div class="empty" style="width: 100%;">데이터 집계중</div>
        `;
      }

      rendering(sectionClassName, leaderboard);

      function makeDrawRecord(rankingRecord, iconClassName) {
        return {
          ...rankingRecord,
          iconClassName: iconClassName
        }
      }
    }

    function makeLeaderboard(title) {
      const leaderboardTemplate = copyTemplateById('leaderboard-template');
      const leaderboard = leaderboardTemplate.querySelector('.leaderboard');
      leaderboard.innerHTML = leaderboard.innerHTML.replace(/{LEADERBOARD_TITLE}/, title);
      return leaderboard;
    }

    function rendering(sectionClassName, leaderboard) {
      const targetSection = document.querySelector(`.leaderboard-wrapper.${sectionClassName}`);
      targetSection.appendChild(leaderboard);
    }

    function clearLeaderboard(sectionClassName) {
      const targetLeaderboard = document.querySelector(`.leaderboard-wrapper.${sectionClassName} .leaderboard`);
      if (targetLeaderboard)
        targetLeaderboard.remove();
    }

    function renderLeaderboardForDonation(sectionClassName, leaderboardTitle, rankingRecords) {
      const leaderboard = makeLeaderboard(leaderboardTitle);

      if (rankingRecords.length) {
        drawLeaderboardRecord(leaderboard, rankingRecords, makeTopPlayerDonationRow, makePlayerDonationRow);
      } else {
        // 데이터가 없을 경우
        // 데이터 없을 경우
        leaderboard.querySelector('.top-3').innerHTML = `
          <div class="empty" style="width: 100%;">데이터 집계중</div>
        `;
      }

      rendering(sectionClassName, leaderboard);
    }

    function renderLeaderboardForLeague(sectionClassName, leaderboardTitle, rankingRecords) {
      clearLeaderboard(sectionClassName);

      const leaderboard = makeLeaderboard(leaderboardTitle);

      if (rankingRecords.length) {
        drawLeaderboardRecord(leaderboard, rankingRecords, makeTopPlayerLeagueRow, makePlayerLeagueRow);
      } else {
        // 데이터 없을 경우
        leaderboard.querySelector('.top-3').innerHTML = `
          <div class="empty" style="width: 100%;">아쉽게도 없습니다.</div>
        `;
      }

      rendering(sectionClassName, leaderboard);
    }

    function renderLeaderboardForClanWar(sectionClassName, leaderboardTitle, rankingRecords) {
      clearLeaderboard(sectionClassName);

      const leaderboard = makeLeaderboard(leaderboardTitle);

      if (rankingRecords.length) {
        drawLeaderboardRecord(leaderboard, rankingRecords, makeTopPlayerClanWarRow, makePlayerClanWarRow);
      } else {
        // 데이터 없을 경우
        // 데이터 없을 경우
        leaderboard.querySelector('.top-3').innerHTML = `
          <div class="empty" style="width: 100%;">클랜전 기록이 없습니다.</div>
        `;
      }

      rendering(sectionClassName, leaderboard);
    }

    async function fetchRaidCurrentSeason() {
      const targetClassName = 'raid-current-season';
      const leaderboardTitle = "현재 시즌 순위";
      const displayIcon = "icon icon-clan-capital";
      showLoading(targetClassName);
      const rankings = await fetchRankingRaidCurrentSeason();
      renderLeaderboard(targetClassName, leaderboardTitle, rankings, displayIcon);
      hideLoading(targetClassName);
    }

    async function fetchRaidAverageSeason() {
      const targetClassName = 'raid-average-season';
      const leaderboardTitle = "지난 3주 평균 순위";
      const displayIcon = "icon icon-clan-capital";
      showLoading(targetClassName);
      const rankings = await fetchRankingRaidAverageSeason();
      renderLeaderboard(targetClassName, leaderboardTitle, rankings, displayIcon);
      hideLoading(targetClassName);
    }

    async function fetchCurrentTrophies() {
      const targetClassName = 'trophies';
      const leaderboardTitle = "현재 트로피 순위";
      const displayIcon = "icon trophies";
      showLoading(targetClassName);
      const rankings = await fetchRankingPlayerTrophies();
      renderLeaderboard(targetClassName, leaderboardTitle, rankings, displayIcon);
      hideLoading(targetClassName);
    }

    async function fetchCurrentAttackWins() {
      const targetClassName = 'attack-wins';
      const leaderboardTitle = "현재 공성 순위";
      const displayIcon = "icon icon-sword";
      showLoading(targetClassName);
      const rankings = await fetchRankingPlayerAttackWins();
      renderLeaderboard(targetClassName, leaderboardTitle, rankings, displayIcon);
      hideLoading(targetClassName);
    }

    async function fetchCurrentDonations() {
      const targetClassName = 'donations';
      const leaderboardTitle = "현재 지원왕";
      showLoading(targetClassName);
      const rankings = await fetchRankingPlayerDonations();
      renderLeaderboardForDonation(targetClassName, leaderboardTitle, rankings);
      hideLoading(targetClassName);
    }

    async function fetchCurrentDonationsReceived() {
      const targetClassName = 'donations-received';
      const leaderboardTitle = "현재 수혜왕";
      const displayIcon = "icon icon-caret-up color-blue";
      showLoading(targetClassName);
      const rankings = await fetchRankingPlayerDonationsReceived();
      renderLeaderboard(targetClassName, leaderboardTitle, rankings, displayIcon);
      hideLoading(targetClassName);
    }

    async function fetchThisMonthClanWarStars(clanTag) {
      const baseMonth = dayjs();
      const targetClassName = 'this-month-clan-war-stars';
      showLoading(targetClassName);
      const rankings = await fetchRankingClanWarStars(baseMonth.valueOf(), clanTag);

      const leaderboardTitle = `[${formatYYM(baseMonth)}] 완파 순위`;
      renderLeaderboardForClanWar(targetClassName, leaderboardTitle, rankings);
      hideLoading(targetClassName);
    }

    async function fetchLastMonthClanWarStars(clanTag) {
      const baseMonth = dayjs().add(-1, 'month');
      const targetClassName = 'last-month-clan-war-stars';
      showLoading(targetClassName);
      const rankings = await fetchRankingClanWarStars(baseMonth.valueOf(), clanTag);

      const leaderboardTitle = `[${formatYYM(baseMonth)}] 완파 순위`;
      renderLeaderboardForClanWar(targetClassName, leaderboardTitle, rankings);
      hideLoading(targetClassName);
    }

    function getTargetElement(targetClassName) {
      return document.querySelector(`.${targetClassName}`);
    }

    function renderLeagueWarClans(targetClassName, rankings) {
      // 리그전 완파클랜원이 존재하는 클랜 Set 획득
      const clans = rankings.map(data => convertClanInfo(data)).sort((a, b) => a.order - b.order);
      const clanMap = new Map();
      clans.forEach(clan => clanMap.set(clan.tag, clan));

      renderClans(Array.from(clanMap.values()), 'league', targetClassName);

      function convertClanInfo(data) {
        return {
          tag:data.clanTag,
          name:data.clanName,
          order:data.clanOrder
        }
      }
    }

    async function fetchThisMonthClanLeagueWar(tag) {
      let clanTag = tag;
      if (clanTag === 'all') clanTag = '';

      const baseMonth = dayjs();
      const targetClassName = 'this-month-league-war';
      showLoading(targetClassName);
      const rankings = await fetchRankingClanLeagueWarStars(baseMonth.valueOf(), clanTag, 'ALL', true);

      if (clanTag === '') {
        // 리그전 완파 클랜원이 존재하는 클랜 목록 표기
        renderLeagueWarClans(targetClassName, rankings);
      }

      const leaderboardTitle = `[${formatYYM(baseMonth)}] 완파 클랜원 (총: ${rankings.length} 명)`;
      renderLeaderboardForLeague(targetClassName, leaderboardTitle, rankings);
      hideLoading(targetClassName);
    }

    async function fetchLastMonthClanLeagueWar(tag) {
      let clanTag = tag;
      if (clanTag === 'all') clanTag = '';

      const baseMonth = dayjs().add(-1, 'month');
      const targetClassName = 'last-month-league-war';
      showLoading(targetClassName);

      const rankings = await fetchRankingClanLeagueWarStars(baseMonth.valueOf(), clanTag, 'ALL', true);

      if (clanTag === '') {
        // 리그전 완파 클랜원이 존재하는 클랜 목록 표기
        renderLeagueWarClans(targetClassName, rankings);
      }

      const leaderboardTitle = `[${formatYYM(baseMonth)}] 완파 클랜원 (총: ${rankings.length} 명)`;
      renderLeaderboardForLeague(targetClassName, leaderboardTitle, rankings);
      hideLoading(targetClassName);
    }

    function renderClan(clan, type = 'clan', targetClassRootName) {
      const { tag, name } = clan;
      const radioItem = getRadioItemTemplateByType();
      const radio = radioItem.querySelector('.radio.item');

      radio.innerHTML = radio.innerHTML
                             .replace(/{TYPE}/, targetClassRootName)
                             .replace(/{CLAN_TAG}/, tag)
                             .replace(/{CLAN_NAME}/, name);

      if (type === 'league') {
        // add click event
        const radioButton = radio.querySelector('input[type="radio"]');
        radioButton.onclick = () => targetClassRootName.startsWith('this') ? fetchThisMonthClanLeagueWar(tag) : fetchLastMonthClanLeagueWar(tag);
      }

      const radioInputs = getRadioInputsByType(targetClassRootName);
      radioInputs.appendChild(radio);

      function getRadioItemTemplateByType() {
        if (type === 'clan')
          return copyTemplateById('clan-war-radio-item-template');

        return copyTemplateById('league-war-radio-item-template');
      }
    }

    function getRadioInputsByType(targetClassRootName) {
      return document.querySelector(`.${targetClassRootName} .radio-inputs`);
    }

    function renderClans(clans, type, targetClassRootName) {
      const target = getRadioInputsByType(targetClassRootName);
      if (target.children.length > 1) return; // 초기 구성 완료된 경우 더이상 그리지 않음
      for(const clan of clans) {
        renderClan(clan, type, targetClassRootName);
      }
    }

    async function fetchClanWarStars(type) {
      let clanTag = type;
      if (clanTag === 'all') clanTag = '';
      fetchThisMonthClanWarStars(clanTag);
      fetchLastMonthClanWarStars(clanTag);
    }

    function displaySections(targetClassName) {
      const flipCards = document.querySelector('.flip-cards');
      const sections = flipCards.querySelectorAll('.section-wrapper.sections');
      sections.forEach(section => section.classList.add('display-none'));

      if (targetClassName === 'all') {
        sections.forEach(section => section.classList.remove('display-none'));
        return;
      }

      const targetSection = flipCards.querySelector(`.${targetClassName}`);
      if (targetSection) {
        targetSection.classList.remove('display-none');
      }
    }

    function swipeSection() {
      const flipCards = document.querySelector('.flip-cards');
      const swipeSection = document.querySelector('.section-wrapper.swipe:last-child');
      flipCards.prepend(swipeSection);
    }


    function intervalSwipeSection() {
      setInterval(() => {
        swipeSection();
      }, 5000)
    }

    window.onload = async () => {
      //개인 기록 부문
      fetchCurrentTrophies();
      fetchCurrentAttackWins();
      fetchCurrentDonations();
      fetchCurrentDonationsReceived();

      //클랜전 부문
      const warClans = await fetchWarClans('none');
      await renderClans(warClans, 'clan', 'clan-war');
      fetchClanWarStars('all');

      //리그전 부문
      fetchThisMonthClanLeagueWar('all');
      fetchLastMonthClanLeagueWar('all');

      //습격전 부문
      fetchRaidCurrentSeason();
      fetchRaidAverageSeason();

      // 각 부문 순서 변경
      //intervalSwipeSection();
    }
  </script>

  <title>아카데미 명예의전당</title>
</head>
<body>
    <div class="title hall-of-fame" onclick="renderPage('/hall-of-fame'); return false;">
      <i class="fa-solid fa-trophy"></i>
      명예의전당
      <i class="fa-solid fa-medal"></i>
    </div>

    <div class="support-area">
      <div class="section-filter radio-inputs">
        <label class="radio item">
          <input type="radio" name="radio-league" onchange="displaySections('all'); return false;" checked>
          <span class="name">전체</span>
        </label>
        <label class="radio item">
          <input type="radio" name="radio-league" onchange="displaySections('player'); return false;">
          <span class="name">개인</span>
        </label>
        <label class="radio item">
          <input type="radio" name="radio-league" onchange="displaySections('capital'); return false;">
          <span class="name">습격전</span>
        </label>
        <label class="radio item">
          <input type="radio" name="radio-league" onchange="displaySections('clan-war'); return false;">
          <span class="name">클랜전</span>
        </label>
        <label class="radio item">
          <input type="radio" name="radio-league" onchange="displaySections('league-war'); return false;">
          <span class="name">리그전</span>
        </label>
      </div>
    </div>

    <div class="flip-cards">

      <div class="section-wrapper sections player swipe">

        <div class="section-title">개인 부문</div>

        <div class="section-contents">

          <div class="section leaderboard-wrapper trophies">
            <div class="loader-circle display-none">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
              <div class="bar4"></div>
              <div class="bar5"></div>
              <div class="bar6"></div>
              <div class="bar7"></div>
              <div class="bar8"></div>
              <div class="bar9"></div>
              <div class="bar10"></div>
              <div class="bar11"></div>
              <div class="bar12"></div>
            </div>
          </div>

          <div class="section leaderboard-wrapper attack-wins">
            <div class="loader-circle display-none">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
              <div class="bar4"></div>
              <div class="bar5"></div>
              <div class="bar6"></div>
              <div class="bar7"></div>
              <div class="bar8"></div>
              <div class="bar9"></div>
              <div class="bar10"></div>
              <div class="bar11"></div>
              <div class="bar12"></div>
            </div>
          </div>

        </div>

        <div class="section-contents">

          <div class="section leaderboard-wrapper donations">
            <div class="loader-circle display-none">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
              <div class="bar4"></div>
              <div class="bar5"></div>
              <div class="bar6"></div>
              <div class="bar7"></div>
              <div class="bar8"></div>
              <div class="bar9"></div>
              <div class="bar10"></div>
              <div class="bar11"></div>
              <div class="bar12"></div>
            </div>
          </div>

          <div class="section leaderboard-wrapper donations-received">
            <div class="loader-circle display-none">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
              <div class="bar4"></div>
              <div class="bar5"></div>
              <div class="bar6"></div>
              <div class="bar7"></div>
              <div class="bar8"></div>
              <div class="bar9"></div>
              <div class="bar10"></div>
              <div class="bar11"></div>
              <div class="bar12"></div>
            </div>
          </div>

        </div>

      </div>

      <div class="section-wrapper sections capital swipe">

        <div class="section-title">습격전 부문</div>

        <div class="section-contents">

          <div class="section leaderboard-wrapper raid-current-season">
            <div class="loader-circle display-none">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
              <div class="bar4"></div>
              <div class="bar5"></div>
              <div class="bar6"></div>
              <div class="bar7"></div>
              <div class="bar8"></div>
              <div class="bar9"></div>
              <div class="bar10"></div>
              <div class="bar11"></div>
              <div class="bar12"></div>
            </div>
          </div>

          <div class="section leaderboard-wrapper raid-average-season">
            <div class="loader-circle display-none">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
              <div class="bar4"></div>
              <div class="bar5"></div>
              <div class="bar6"></div>
              <div class="bar7"></div>
              <div class="bar8"></div>
              <div class="bar9"></div>
              <div class="bar10"></div>
              <div class="bar11"></div>
              <div class="bar12"></div>
            </div>
          </div>

        </div>

      </div>

      <div class="section-wrapper sections clan-war swipe">

        <div class="section-wrapper">
          <div class="section-title">클랜전 부문</div>
          <div class="support-area">
            <div class="clan-list radio-inputs">
              <label class="radio item">
                <input type="radio" name="clan-war-radio-clan" onchange="fetchClanWarStars('all'); return false;" checked>
                <span class="name">전체</span>
              </label>
            </div>
          </div>

          <div class="section-contents">

            <div class="section leaderboard-wrapper this-month-clan-war-stars">
              <div class="loader-circle display-none">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
                <div class="bar4"></div>
                <div class="bar5"></div>
                <div class="bar6"></div>
                <div class="bar7"></div>
                <div class="bar8"></div>
                <div class="bar9"></div>
                <div class="bar10"></div>
                <div class="bar11"></div>
                <div class="bar12"></div>
              </div>
            </div>

            <div class="section leaderboard-wrapper last-month-clan-war-stars">
              <div class="loader-circle display-none">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
                <div class="bar4"></div>
                <div class="bar5"></div>
                <div class="bar6"></div>
                <div class="bar7"></div>
                <div class="bar8"></div>
                <div class="bar9"></div>
                <div class="bar10"></div>
                <div class="bar11"></div>
                <div class="bar12"></div>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="section-wrapper sections league-war swipe">

        <div class="section-title">리그전 부문</div>

        <div class="section-contents">

          <div class="section leaderboard-wrapper this-month-league-war">
            <div class="support-area">
              <div class="league-clan-list radio-inputs">
                <label class="radio item">
                  <input type="radio" name="this-month-league-war-radio-clan" onchange="fetchThisMonthClanLeagueWar('all'); return false;" checked>
                  <span class="name">전체</span>
                </label>
              </div>
            </div>

            <div class="loader-circle display-none">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
              <div class="bar4"></div>
              <div class="bar5"></div>
              <div class="bar6"></div>
              <div class="bar7"></div>
              <div class="bar8"></div>
              <div class="bar9"></div>
              <div class="bar10"></div>
              <div class="bar11"></div>
              <div class="bar12"></div>
            </div>
          </div>

          <div class="section leaderboard-wrapper last-month-league-war">
            <div class="support-area">
              <div class="league-clan-list radio-inputs">
                <label class="radio item">
                  <input type="radio" name="last-month-league-war-radio-clan" onchange="fetchLastMonthClanLeagueWar('all'); return false;" checked>
                  <span class="name">전체</span>
                </label>
              </div>
            </div>

            <div class="loader-circle display-none">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
              <div class="bar4"></div>
              <div class="bar5"></div>
              <div class="bar6"></div>
              <div class="bar7"></div>
              <div class="bar8"></div>
              <div class="bar9"></div>
              <div class="bar10"></div>
              <div class="bar11"></div>
              <div class="bar12"></div>
            </div>
          </div>

        </div>

      </div>

    </div>

</body>
<template id="ranking-row-template">
  <tr class="table-tr">
    <td class="table-td rank">{RANK}</td>
    <td class="table-td name">{NAME}</td>
    <td class="table-td"><div class="td-wrap"><div class="{ICON_CLASS_NAME}"></div>{SCORE}</div></td>
  </tr>
</template>
<template id="ranking-clan-war-row-template">
  <tr class="table-tr">
    <td class="table-td rank">{RANK}</td>
    <td class="table-td name"><div class="td-wrap flex-colum">{NAME}<div class="chip bg-green">{CLAN_NAME}</div></div></td>
    <td class="table-td"><i class="fa-solid fa-star"></i>{SCORE}</td>
    <td class="table-td"><div class="td-wrap"><div class="icon-damage"></div>{DESTRUCTION_PERCENTAGE} %</div><div class="td-wrap"><div class="icon-clock"></div>{DURATION}</div></td>
  </tr>
</template>
<template id="ranking-clan-war-empty-row-template">
  <tr class="table-tr">
    <td class="table-td empty" colspan="4">데이터 수집중</td>
  </tr>
</template>
<template id="ranking-first-place-template">
  <i class="fa-solid fa-medal first-place"></i>
</template>
<template id="ranking-second-place-template">
  <i class="fa-solid fa-medal second-place"></i>
</template>
<template id="ranking-third-place-template">
  <i class="fa-solid fa-medal third-place"></i>
</template>
<template id="clan-war-radio-item-template">
  <label class="radio item">
    <input type="radio" name="{TYPE}-radio-clan" onchange="fetchClanWarStars('{CLAN_TAG}'); return false;">
    <span class="name">{CLAN_NAME}</span>
  </label>
</template>
<template id="league-war-radio-item-template">
  <label class="radio item">
    <input type="radio" name="{TYPE}-radio-clan">
    <span class="name">{CLAN_NAME}</span>
  </label>
</template>


<template id="leaderboard-template">

  <div class="leaderboard">
    <h2 class="leaderboard-title">{LEADERBOARD_TITLE}</h2>
    <div class="top-3"></div>
    <ul class="other-players"></ul>
  </div>

</template>
<template id="leaderboard-top-player-template">
  <div class="player">
    <div class="avatar">
      <div class="town-hall th{USER_HALL_LEVEL}"></div>
    </div>
    <div class="details">
      <span class="name">{NAME}</span>
    </div>
    <div class="score"><div class="{ICON_CLASS_NAME}"></div>{SCORE}</div>
  </div>
</template>
<template id="leaderboard-player-template">
  <li class="player">
    <span class="rank">{RANK}th</span>
    <span class="name">{NAME}</span>
    <div class="score"><div class="{ICON_CLASS_NAME}"></div>{SCORE}</div>
  </li>
</template>
<template id="leaderboard-top-player-donation-template">
  <div class="player">
    <div class="avatar">
      <div class="town-hall th{USER_HALL_LEVEL}"></div>
    </div>
    <div class="details">
      <span class="name">{NAME}</span>
    </div>
    <div class="info">
      <div class="score"><div class="icon Barbarian"></div>{TROOP_COUNT}</div>
      <div class="score column">
        <div class="percentages">
          <div class="score"><div class="icon LightningSpell"></div>{SPELL_COUNT}</div>
        </div>
        <div class="durations">
          <div class="score"><div class="icon WallWrecker"></div>{SIEGE_COUNT}</div>
        </div>
      </div>
    </div>
  </div>
</template>
<template id="leaderboard-player-donation-template">
  <li class="player with-row">
    <div class="row">
      <span class="rank">{RANK}th</span>
      <span class="name">{NAME}</span>
    </div>
    <div class="row">
      <div class="score"><div class="icon Barbarian"></div>{TROOP_COUNT}</div>
      <div class="score"><div class="score icon LightningSpell"></div>{SPELL_COUNT}</div>
      <div class="score"><div class="score icon WallWrecker"></div>{SIEGE_COUNT}</div>
    </div>
  </li>
</template>
<template id="leaderboard-top-player-clan-war-template">
  <div class="player">
    <div class="avatar">
      <div class="town-hall th{USER_HALL_LEVEL}"></div>
    </div>
    <div class="details">
      <span class="name">{NAME}</span>
    </div>
    <div class="info">
      <div class="score"><i class="icon fa-solid fa-star"></i>{STARS}</div>
      <div class="score column">
        <div class="percentages">
          <div class="score"><div class="icon icon-damage"></div>{PERCENTAGES} %</div>
        </div>
        <div class="durations">
          <div class="score"><div class="icon icon-clock"></div>{DURATION}</div>
        </div>
      </div>
    </div>
  </div>
</template>
<template id="leaderboard-player-clan-war-template">
  <li class="player with-row">
    <div class="row">
      <span class="rank">{RANK}th</span>
      <span class="name">{NAME}</span>
    </div>
    <div class="row">
      <div class="score"><i class="icon fa-solid fa-star"></i>{STARS}</div>
      <div class="score"><div class="score icon icon-damage"></div>{PERCENTAGES} %</div>
      <div class="score"><div class="score icon icon-clock"></div>{DURATION}</div>
    </div>
  </li>
</template>
<template id="leaderboard-top-player-league-template">
  <div class="player">
    <div class="avatar">
      <div class="town-hall th{USER_HALL_LEVEL}"></div>
    </div>
    <div class="details">
      <span class="name">{NAME}</span>
    </div>
    <div class="score"><div class="icon icon-clock"></div>{DURATION}</div>
  </div>
</template>
<template id="leaderboard-player-league-template">
  <li class="player">
    <span class="rank">{RANK}th</span>
    <span class="name">{NAME}</span>
    <div class="score"><div class="icon icon-clock"></div>{DURATION}</div>
  </li>
</template>
</html>