<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" CONTENT="no-cache">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/static/favicon.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />

  <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/hallOfFame.css" />

  <script src="/static/js/common.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <title>아카데미 명예의전당</title>
</head>
<body>
  <div class="card-group align-items-center">
    <div class="title hall-of-fame" onclick="renderPage('/hall-of-fame'); return false;">
      <i class="fa-solid fa-trophy"></i>
      명예의전당
      <i class="fa-solid fa-medal"></i>
    </div>
  </div>
</body>
</html>