<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" CONTENT="no-cache">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/static/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/error.css" />

  <script src="/static/js/common.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    async function checkClashOfClanServer() {
      axios.get("/leagues")
           .then((response) => {})
           .catch((error) => {
             const { response } = error;
             const { status, data } = response;

             let msg = 'Clash of Clan API Server\n'
             const { reason, message } = data;
             if (reason) {
               msg += `\nreason: ${reason}`;
             }
             if (message) {
               msg += `\nmessage: ${message}`;
             }

             msg += `\n\n위와 같은 사유로 편의기능을 제공 불가`;

             const codeContainerElement = document.querySelector('#code');
             codeContainerElement.value = msg;

             const homeWrapperElement = document.querySelector('.home-wrapper');
             homeWrapperElement.classList.add('display-none');

             const errorElement = document.querySelector('.error');
             errorElement.classList.remove('display-none');
           })
    }

    window.onload = async () => {
      await checkClashOfClanServer()
    }
  </script>

  <title>아카데미 클랜 편의기능</title>
</head>
<body>
  <div class="error display-none">
    <div class="card">
      <div class="header">
        <div class="top">
          <div class="circle">
            <span class="red circle2"></span>
          </div>
          <div class="circle">
            <span class="yellow circle2"></span>
          </div>
          <div class="circle">
            <span class="green circle2"></span>
          </div>
          <div class="title">
            <p id="title2">서버 점검</p>
          </div>
        </div>
      </div>
      <div class="code-container">
        <label for="code">
          <textarea readonly="" name="code" id="code" class="area"></textarea>
        </label>
      </div>
    </div>

  </div>
  <div class="home-wrapper">
    <div class="logo"></div>

    <div class="contents">

      <div class="card-group">
        <div class="title">아카데미 정보</div>
        <div class="cards">
          <div class="card red-1" onclick="renderPage('/clan/member'); return false;">
            <p class="tip">전체 클랜원</p>
          </div>
          <div class="card red-2" onclick="renderPage('/clan'); return false;">
            <p class="tip">클랜 목록</p>
            <p class="second-text"></p>
          </div>
        </div>
        <div class="cards">
          <div class="card red-3" onclick="renderPage('/lab/links'); return false;">
            <p class="tip">연구소</p>
            <p class="second-text"></p>
          </div>
        </div>
      </div>

      <div class="card-group">
        <div class="title">아카데미 컨텐츠</div>
        <div class="cards">
          <div class="card green" onclick="renderPage('/capital/raid'); return false;">
            <p class="tip">습격전 현황</p>
            <p class="second-text">(매주 금요일 진행)</p>
          </div>
        </div>
        <div class="cards">
          <div class="card blue" onclick="renderPage('/clan/war?type=normal'); return false;">
            <p class="tip">클랜전 현황</p>
            <p class="second-text">(토,월,수 매칭)</p>
          </div>
        </div>
        <div class="cards">
          <div class="card black" onclick="renderPage('/clan/league'); return false;">
            <p class="tip">리그전 현황</p>
            <p class="second-text">(매월 초 진행)</p>
          </div>
          <div class="card coral" onclick="renderPage('/clan/war?type=parallel'); return false;">
            <p class="tip">병행클랜전 현황</p>
            <p class="second-text">(월초 리그전 진행)</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>
</html>