<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/static/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/home.css" />

  <style>
    .home-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  </style>

  <script src="/static/js/common.js"></script>

  <title>아카데미 클랜 편의기능</title>
</head>
<body>
  <div class="home-wrapper">
    <div class="logo"></div>
    <div class="cards">
      <div class="card red" onclick="renderPage('/clan/member'); return false;">
        <p class="tip">전체 클랜원</p>
        <p class="second-text"></p>
      </div>
      <div class="card blue" onclick="renderPage('/clan/war'); return false;">
        <p class="tip">클랜전 현황</p>
        <p class="second-text"></p>
      </div>
      <div class="card green" onclick="renderPage('/capital/raid'); return false;">
        <p class="tip">습격전 현황</p>
        <p class="second-text">(매주 금요일 진행)</p>
      </div>
      <div class="card violet" onclick="alert('구현 예정'); return false;">
        <p class="tip">클랜 목록</p>
        <p class="second-text"></p>
      </div>
    </div>
  </div>
</body>
</html>