<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/button.css" />

  <script src="/static/js/common.js"></script>

  <title>클래시오브클랜 편의기능</title>
</head>
<body>
  <ul>
    <li>
      <button class="right-double-arrow" onclick="renderPage('/clan/member'); return false;"><span>클랜원 보기</span></button>
      <button class="right-double-arrow" onclick="renderPage('/clan/war'); return false;"><span>클랜전 현황</span></button>
      <button class="right-double-arrow" onclick="renderPage('/capital/attacks'); return false;"><span>습격전 현황</span></button>
    </li>
  </ul>
</body>
</html>