.fail {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  background-color: gray;

  .name {
    color: yellow;
  }

  .reason {
    margin-left: 5px;
  }
}

.clan-icon {
  margin-top: 3px;
  width: 35px;
}

.clan-war.expand {

  .detail-filter-wrapper {
    display: block;
  }
  .league-dashboard.expand {
    display: flex;
  }
  .league-clan-record.expand {
    display: flex;
  }
  .league-member-record.expand {
    display: flex;
  }
  .member-attack-wrapper.expand {
    display: block;
  }

}

.detail-filter-wrapper {
  display: none;
  background-color: #7d7d7d;
  border-radius: 10px;
  margin-top: 5px;

  .radio-inputs {

    input:checked + .name {
      color: white;
      background-color: #6a0000;
    }
  }
}

.member-attack-wrapper {
  display: none;
}

.league-dashboard {
  display: none;
  flex-direction: column;
  margin-top: 5px;

  .row:not(:first-child) {
    margin-top: 3px;
  }
  .row.selected {
    background-color: #d55a5b;
  }
  .row {
    display: flex;
    width: 100%;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    color: white;
    background-color: #583535;
    font-weight: bold;
    font-size: 0.8rem;

    .rank {

    }

    .badge {
      display: flex;
      margin-left: 5px;

      .clan {
        flex: 10%;
        width: 25px;
      }
    }

    .name {
      flex: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .stars {
      width: 80px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      border: 1px solid black;
      background-color: black;
      padding: 3px;

      i {
        color: yellow;
        margin-top: -3px;
        margin-left: 3px;
      }
    }

    .destruction-percentage {
      margin-left: 5px;
      padding: 4px 8px;
      width: 80px;
      background-color: black;
    }

    @media (max-width: 400px) {
      .stars {
        width: 100px;
      }

      .destruction-percentage {
        width: 100px;
      }
    }
  }
}

.league-clan-record {
  display: none;
  flex-direction: column;
  margin-top: 5px;

  @media (max-width: 400px) {
    .row {
      flex-direction: column;

      .cell.opponent {
        margin-top: 5px;
      }
    }
  }

  .row:not(:first-child) {
    margin-top: 3px;
  }
  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    color: white;
    background-color: #583535;
    font-weight: bold;
    font-size: 0.8rem;

    .cell.opponent {

      .basic {
        display: flex;
        flex-direction: row-reverse;

        .attacks {
          text-align: right;
        }
      }

    }
    .cell {
      display: flex;
      flex-direction: column;
      align-items: center;

      .basic {
        display: flex;
        align-items: center;
        padding: 5px;

        .badge {
          display: flex;
          margin: 0 3px;

          .clan {
            width: 35px;
          }
        }

        .name {
          width: 100px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        .icon-sword {
          width: 25px;
        }

        .attacks {
          width: 25px;
          margin: 0 5px;
        }

        .stars {
          width: 65px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          border: 1px solid black;
          background-color: black;
          padding: 3px;

          i {
            color: gold;
            margin-left: 3px;
          }
          .count {
            margin-top: 2px;
          }
        }

        .destruction-percentage {
          background-color: black;
          margin-left: 5px;
          padding: 4px 8px;
          width: 60px;
        }

      }

      .summary {
        width: 100%;
        display: flex;

        .stars {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          width: 100%;
          padding: 5px 10px;

          .star {
            display: flex;
            align-items: center;

            .label {
              width: 25px;
              font-size: 1em;
            }

            .count {
              font-size: 1em;
            }
          }
        }
      }

    }
  }
}

.league-member-record {
  display: none;
  flex-direction: column;
  margin-top: 5px;

  .row:not(:first-child) {
    margin-top: 3px;
  }
  .row {
    display: flex;
    width: 100%;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    color: white;
    background-color: #583535;
    font-weight: bold;
    font-size: 0.8rem;

    .rank {
      white-space: nowrap;
    }

    .town-hall {
      width: 25px;
      height: 25px;
      margin: 0 5px;
    }

    .name {
      flex: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .stars {
      width: 65px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      border: 1px solid black;
      background-color: black;
      padding: 3px;

      i {
        color: gold;
        margin-right: 3px;
      }
    }

    .destruction-percentage {
      background-color: black;
      margin-left: 5px;
      padding: 4px 8px;
      width: 60px;
    }

    .attacks {
      background-color: black;
      margin-left: 5px;
      padding: 4px 8px;
      width: 55px;
      display: flex;
      justify-content: center;
    }

    @media (max-width: 400px) {
      .stars {
        width: 100px;
      }
      .destruction-percentage {
        width: 100px;
      }
      .attacks {
        width: 80px;
      }
    }
  }
}

.row.win {
  background-color: darkgreen;
}
.row.lose {
  background-color: darkred;
}

.card-contents:not(:first-child) {
  margin-top: unset !important;
}

.section-clan-war {
  margin-top: 5px;
}

.season {
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
.support-area {
  margin-top: 5px;

  .radio-inputs {
    flex-wrap: nowrap;
    .name {
      color: black;
    }

    input:checked + .name {
      color: white;
      background-color: #808080;
    }
  }
}

.round-result {
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
  font-weight: bold;

  .round {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffc251;

    .label {
      font-size: 12px;
      font-weight: bold;
      width: 14px;
      height: 16px;
      text-align: center;
    }
  }
  .round.win {
    color: darkgreen;
  }
  .round.lose {
    color: orangered;
  }
  .round.tie {
    color: #0000007a;
  }
}

.league-rank {

  .war-league {
    margin: 5px 0;
    padding: 10px 0;
    border-bottom: 2px double black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .war-info {
      display: flex;
      align-items: center;

      .label {
        margin-left: 5px;
        font-weight: bold;
      }
    }

    .clan-rank {
      margin-left: 3px;
      margin-top: 10px;
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: bold;

      .stars {
        margin-top: 2px;
        margin-left: 10px;
      }

      .destruction-percentage {
        margin-top: 2px;
        margin-left: 10px;
        display: flex;
        align-items: center;

        .icon-damage {
          width: 15px;
        }

        .count {
          margin-left: 5px;
        }
      }
    }

    .clan-info {
      margin-top: 2px;
      margin-left: 5px;
      display: flex;
      align-items: center;

      .clan-icon {
        width: fit-content;

        img.clan {
          width: 25px;
        }
      }
      .name {
        margin-left: 5px;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }

}

.round-summary {

  .war-league {
    margin: 5px 0;
    padding: 10px 0;
    border-bottom: 2px double black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .war-info {
      display: flex;
      align-items: center;

      .label {
        margin-left: 5px;
        font-weight: bold;
      }
    }

    .clan-round-state {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;

      .clan-info {
        display: flex;
        align-items: center;

        .clan-icon {
          width: fit-content;

          img.clan {
            width: 25px;
          }
        }
        .name {
          margin-left: 5px;
          font-weight: bold;
          font-size: 14px;
        }
      }
    }
  }

}

.member-rank {
  margin-top: 10px;

  .row:not(:first-child) {
    margin-top: 3px;
  }

  .row {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    background-color: #eeeeee;
    font-weight: bold;
    font-size: 0.8rem;

    .member-info-wrap {
      display: flex;
      justify-content: space-between;
    }
    .member-info {
      margin: 5px;
      display: flex;
      align-items: center;

      .town-hall {
        width: 25px;
        height: 25px;
      }

      .name {
        margin-left: 5px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .clan {
        margin-left: 5px;

        .chip {
          border: none;
        }
      }
    }

    .member-result {
      margin: 5px;
      display: flex;
      font-size: 12px;

      .stars {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px;

        .label {
          font-size: 12px;
        }
        i {
          color: gold;
        }
        .count {
          margin-left: 10px;
          border: 1px solid black;
          background: white;
          border-radius: 10px;
          padding: 5px 10px;
        }
      }

      .destruction-percentage {
        margin-left: 5px;
        display: flex;
        align-items: center;

        .label {
          font-size: 12px;

          i {
            padding: 0 5px;
          }
        }
        .count {
          margin-left: 10px;
          border: 1px solid black;
          background: white;
          border-radius: 10px;
          padding: 5px 10px;
        }
      }

      .attacks {
        margin-left: 5px;
        display: flex;
        align-items: center;

        .icon-sword {
          width: 15px;
          height: 15px;
          padding: 10px;
        }

        .count {
          margin-left: 10px;
          border: 1px solid black;
          background: white;
          border-radius: 10px;
          padding: 5px 10px;
        }
      }

    }

    .member-summary-wrap {
      display: flex;
      justify-content: space-between;
    }

    .member-summary {
      display: flex;
      margin: 5px;

      .label {
        display: flex;
        align-items: center;
        font-size: 12px;
      }
      .stars {
        margin-left: 3px;
        padding: 5px 10px;
        display: flex;
        border: 1px solid black;
        background: white;
        border-radius: 10px;

        .star:not(:first-child) {
          margin-left: 10px;
        }
        .star {
          display: flex;
          align-items: center;

          .count {
            margin-left: 3px;
            font-size: 12px;
          }
        }
      }
    }


    @media (max-width: 400px) {
      .member-info-wrap {
        flex-direction: column;
        justify-content: unset;
      }
      .member-summary-wrap {
        flex-direction: column;
        justify-content: unset;
      }
    }
  }

}