:root {
  --default-border: 1px solid #80808033;
}

.content-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
}

.clan-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.member.row:not(:first-child) {
  margin-top: 5px;
}

.member.row {
  width: 100%;
  min-width: 250px;
  max-width: 300px;
  min-height: 160px;
  max-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to left, #c3c3c3, transparent), linear-gradient(to right, #c3c3c3, transparent);
  border: var(--default-border);
  border-radius: 0 0 10px 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  margin: 5px;
  transition: transform 0.8s;
  transform-style: preserve-3d;

  .cell {
    padding: 5px;
    font-size: 0.7em;
    font-weight: bold;
  }

  .user {
    font-size: 1em;
    font-weight: bold;
    word-break: break-all;
  }

  .label-clan {
    font-size: .7em;
    font-weight: bold;
    word-break: break-all;
  }

  .league-icon {
    padding: 0;
  }

  .town-hall {
  }

  .xp {
    position: relative;
    padding: 16px;
    background-image: url("/static/images/etc/xp.png");
    background-size: contain;
    background-repeat: no-repeat;

    .level {
      position: absolute;
      transform: translate(-50%, -50%);
      color: #fff;
      font-weight: bold;
      font-size: .9em;
      word-break: keep-all;
    }
  }

  .donations,
  .donations-received {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .label {
      width: 40px;
      font-size: 0.8em;
      font-weight: bolder;
      text-align: center;
    }
    .count {
      padding: 3px 0;
      font-size: 0.8em;
      font-weight: bold;
      text-align: center;
      border: var(--default-border);
      border-radius: 5px;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      width: 70px;
    }
  }

  .donations-received {
    margin-top: 5px;
  }

  .trophies {
    padding: 0;

    .count {
      position: relative;
      font-weight: bold;
      font-size: 1.2em;
      border: var(--default-border);
      border-radius: 8px;
      padding: 5px 15px;
      background-color: #efd466;
      color: #fff;
      width: 95px;

      .icon {
        position: absolute;
        width: 36px;
        height: 36px;
        background-image: url(/static/images/etc/trophies.png);
        background-repeat: no-repeat;
        background-size: contain;
        top: 0;
        right: 0;
        transform: translateY(-7px);
      }
    }
  }

}

.inner-section {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.layout-badge,
.layout-title {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
}

.layout-title {
  justify-content: space-between;
}

.layout-badge {
  padding: 5px 0;

  .cell:not(:first-child) {
    margin-left: 8px;
  }
}

.layout-donations {
  flex-direction: column;
}

.member.row.active {
  transform: rotateY(180deg);

  .card-front {
    display: none;
  }

  .card-back {
    display: unset;
  }
}

.card-front {
  width: 100%;
}

.card-back:not(:first-child) {
  margin-top: 0;
}

.card-back {
  margin: 5px;
  display: none;
  transform: rotateY(180deg);
  overflow-y: scroll;
  scrollbar-width: none;

  .inner-section {
    margin: 5px 0;
    flex-direction: column;
    background-color: #e2e2e2;
    border-radius: 5px;

    .label {
      padding-left: 3px;
      font-size: 0.5em;
      font-weight: bold;
    }

    .contents {
      margin-top: 5px;
      display: flex;
      flex-wrap: wrap;

      .img-icon {
        width: 35px;
        margin: 3px;
        border: var(--default-border);
        border-radius: 10px;
      }
    }
  }
}

.hero.active .equipment-wrapper {
  display: flex;
}

.hero.active:last-child .equipment-wrapper {
  display: flex;
  transform: translate(-60%, -120%);
}

.equipment-wrapper {
  position: relative;
  background-color: #2b2b2bb0;
  border-radius: 10px;
  height: 45px;
  width: 90px;
  transform: translate(0%, -120%);
  top: 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  display: none;
  align-items: center;
  justify-content: space-around;
}