:root {
  --default-border: 1px solid grey;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  scrollbar-width: none;
}

.card-container {
  .card-title {
    background-color: #515151;
  }
}

.clan-war {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.summary {
  position: relative;
  display: flex;
  align-items: center;
  padding: 3px;
  border: var(--default-border);
  border-radius: 10px;
  background: #0000007a;

  .name {
    padding: 3px;
    color: #fefe46;
    font-size: 0.9rem;
    font-weight: bolder;
    text-align: center;
  }

  @media (max-width: 340px) {
    .name {
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 85px;
      overflow: hidden;
    }
  }

  .stars {
    padding: 0 3px 3px;
    color: #fff;
    .count {
      font-size: .8em;
    }
  }

  .attacks {
    display: flex;
    padding: 3px;
    color: #fff;

    .icon-sword {
      width: 18px;
      height: 16px;
    }
    .count {
      margin-left: 3px;
      font-size: .8em;
    }
  }

  .hall {
    display: flex;
    padding: 3px;
    color: #fff;

    .town-hall {
      width: 18px;
      height: 16px;
    }

    .count {
      margin-left: 3px;
      font-size: .8em;
    }
  }

  .destruction-percentage {
    display: flex;
    justify-content: left;
    padding: 3px;
    color: #fff;

    .icon-damage {
      width: 18px;
      height: 16px;
    }

    .count {
      margin-left: 3px;
      font-size: .8em;
    }
  }

  .average-duration {
    display: flex;
    justify-content: left;
    padding: 3px;
    color: #fff;

    .icon-clock {
      width: 18px;
      height: 16px;
    }

    .count {
      margin-left: 3px;
      font-size: .8em;
    }
  }
}

.summary.win {
  background-color: darkgreen;
}
.summary.lose {
  background-color: darkred;
}

.summary .clan {
  width: 35%;
}
.summary .war-info {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
  color: #fefe46;

  .team-size {
    color: #fff;
    font-size: 12px;
    padding: 2px 15px;
  }

  .clan-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      min-width: 35px;
    }
  }

  .war-remaining-time {
    text-align: center;
    font-size: 0.9em;
  }
  .war-state {
    font-size: 0.8em;
  }
  .button-chip {
    font-size: 10px;
    margin-top: 7px;
    background-color: rgb(92 92 92 / 70%);
  }
}

.summary .opponent {
  width: 35%;

  .name {
    text-align: center;
    word-break: break-all;
  }
  .stars {
    text-align: right;
    .count {
      margin-left: 5px;
    }
  }

  .attacks {
    display: flex;
    justify-content: right;

    .count {
      margin-left: 0;
      margin-right: 3px;
    }
  }

  .hall {
    display: flex;
    justify-content: right;

    .count {
      margin-left: 0;
      margin-right: 3px;
    }
  }

  .destruction-percentage {
    display: flex;
    justify-content: right;

    .count {
      margin-left: 0;
      margin-right: 3px;
    }
  }

  .average-duration {
    display: flex;
    justify-content: right;

    .count {
      margin-left: 0;
      margin-right: 3px;
    }
  }

}

.clan-war.expand {

  .sub-summary {
    display: flex;
  }
  .member-attack {
    display: block;
  }
}

.sub-summary {
  display: none;
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 5px;
  color: #0000007a;
  position: relative;
  justify-content: flex-end;
  align-items: center;

  .team-size {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
  }

  .support-area {
    .toggle-button {
      .knobs::before {
        background-color: #818181;
        width: 45px;
      }

      .layer {
        background-color: #cbcfd0;
      }

      .checkbox:checked:active + .knobs:before {
        margin-left: 0;
      }

      .checkbox:checked + .knobs:before {
        background-color: #474646;
        left: 16px;
        width: 45px;
      }

      .checkbox:checked ~ .layer {
        background-color: #9fa1a2;
      }
    }
  }
}

@media (max-width: 320px) {
  .member-attack {
    height: 600px !important;
  }
}

.member-attack {
  display: none;
  overflow-y: auto;
  scrollbar-width: none;
  height: 625px;

  .member {
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to left, #868686, transparent);
    border: var(--default-border);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

    .layout-title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: var(--default-border);

      .user {
        display: flex;
        align-items: center;
        margin-left: 5px;

        .title {
          margin-left: 5px;
          padding: 5px 10px;
          border-left: var(--default-border);

          .name {
            font-size: .9rem;
            font-weight: bolder;
            word-break: break-all;
          }

        }

      }

      .info {

        .total-stars {
          padding: 15px;
          color: #fff;
        }

      }

    }

    .layout-body {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 5px 0;

      .attack-list {
        display: flex;
        flex-direction: column;
        padding: 0 5px;
        width: 100%;

        .attack-info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0 5px;
          min-height: 60px;

          .user {
            display: flex;
            align-items: center;

            .town-hall {
              width: 26px;
              height: 26px;
            }

            .name {
              margin-left: 5px;
              padding: 5px 10px;
              border-left: var(--default-border);
              font-size: .8em;
              font-weight: bolder;
              word-break: break-all;
            }

            @media (max-width: 320px) {
              .name {
                width: 165px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }

          .result {
            display: flex;
            flex-direction: column;

            .stars {
              .fill {
                color: #fff;
              }
            }

            .destruction-percentage {
              font-size: 0.8em;
              font-weight: bold;
            }

            .average-duration {
              font-size: 0.8em;
              font-weight: bold;
            }

            .duration {
              font-size: 0.8em;
              font-weight: bold;
            }
          }
        }

        .attack-info:nth-child(2),
        .attack-info.not:nth-child(2) {
          margin-top: 5px;
          border-top: var(--default-border);
        }

        .attack-info.not {
          margin: 0 5px;

          .name {
            font-size: .8em;
            font-weight: bolder;
            word-break: break-all;
          }

          .message {
            font-size: .8em;
            color: yellow;
            font-weight: bolder;
          }
        }
      }
    }

  }
}