<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" CONTENT="no-cache">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
  <link rel="icon" href="/static/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/links.css" />

  <script src="/static/js/common.js"></script>
  <script src="/static/js/api/lab.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    async function getLabLinks() {
      const links = await fetchLabLinkAll();
      renderLinks(links);
    }

    function renderLinks(links) {
      for(const link of links) {
        renderLink(link);
      }
    }

    function renderLink(button) {
      const buttonTemplate = document.querySelector('#button-template');
      const buttonElement = document.importNode(buttonTemplate.content, true);
      const createButton = buttonElement.querySelector('.button');

      const { name, link } = button;
      createButton.innerHTML = createButton.innerHTML
                                           .replace(/{LINK}/, link)
                                           .replace(/{NAME}/, name);

      const linkList = document.querySelector('.link-list');
      linkList.appendChild(createButton);
    }

    window.onload = async () => {
      await getLabLinks();
    }
  </script>

  <title>아카데미 연구소 링크</title>
</head>
<body>
  <div class="content-wrapper">
    <div class="logo"></div>

    <div class="description">
      새로운 연구소 개설 희망시 운영진DM 주세요
      <br><br>
      <span class="small-text">입장코드: 0070</span>
    </div>

    <div class="contents">

      <div class="link-list">
      </div>

    </div>
  </div>
</body>
<template id="button-template">
  <div class="button">
    <div class="button-chip" onclick="renderPage('{LINK}'); return false;">{NAME}</div>
  </div>
</template>
</html>