<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" CONTENT="no-cache">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
  <meta name="format-detection" content="telephone=no, email=no, address=no, date=no">

  <link rel="icon" href="/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/css/common.css" />
  <link rel="stylesheet" type="text/css" href="/css/links.css" />

  <script src="/js/common.js"></script>
  <script src="/js/api/lab.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    async function drawEnterCode() {
      const meta = await fetchLatestLaboratoryEnterCode();
      if (meta) {
        const { code } = meta;
        const target = document.querySelector('.enter-code');
        target.innerHTML = code;
      }
    }
    async function getLabLinks() {
      const links = await fetchLaboratories();
      renderLinks(links);
    }

    function renderLinks(links) {
      const sortedLinks = links.map(link => {
                                  if (!link.order) {
                                    // 정렬값이 설정되지 않은 경우 id 채번으로 설정
                                    link.order = link.id;
                                  }
                                  return link;
                                })
                               .sort((a, b) => a.order - b.order);

      for(const link of sortedLinks) {
        renderLink(link);
      }
    }

    function renderLink(button) {
      const buttonTemplate = document.querySelector('#button-template');
      const buttonElement = document.importNode(buttonTemplate.content, true);
      const createButton = buttonElement.querySelector('.button');

      const { name, link } = button;
      createButton.innerHTML = createButton.innerHTML
                                           .replace(/{LINK}/, link)
                                           .replace(/{NAME}/, name);

      const linkList = document.querySelector('.link-list');
      linkList.appendChild(createButton);
    }

    window.onload = async () => {
      await drawEnterCode();
      await getLabLinks();
    }
  </script>

  <title>아카데미 연구소 링크</title>
</head>
<body>
  <div class="content-wrapper">
    <div class="logo"></div>

    <div class="description">
      새로운 연구소 개설 희망시 운영진DM 주세요
      <br><br>
      <span class="small-text">입장코드: <span class="enter-code"></span></span>
    </div>

    <div class="contents">

      <div class="link-list">
      </div>

    </div>
  </div>
</body>
<template id="button-template">
  <div class="button">
    <div class="button-chip" onclick="renderPage('{LINK}'); return false;">{NAME}</div>
  </div>
</template>
</html>