<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
  <meta name="format-detection" content="telephone=no, email=no, address=no, date=no">

  <link rel="icon" href="/favicon.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/common.css" />
  <link rel="stylesheet" type="text/css" href="/css/loader.css" />
  <link rel="stylesheet" type="text/css" href="/css/button.css" />
  <link rel="stylesheet" type="text/css" href="/css/warLeague.css" />
  <link rel="stylesheet" type="text/css" href="/css/clan/assignedMember.css" />

  <script src="/js/common.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/api/league.js"></script>
  <script src="/js/api/clan.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/dayjs.min.js" integrity="sha512-FwNWaxyfy2XlEINoSnZh1JQ5TRRtGow0D6XcmAWmYCRgvqOUTnzCxPc9uF35u5ZEpirk1uhlPVA19tflhvnW1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <title>배정표 확인</title>

  <script>
    function convertAssignedMemberArrayToMapByKey(array = []) {
      return array.reduce((map, row) => {
        const key = row.clan.tag;
        if (!map.get(key)) {
          map.set(key, []);
        }

        map.get(key).push(row);
        return map;
      }, new Map());
    }

    function drawMember(member) {
      const { tag, name, trophies, league, joinedClan } = member;
      const rowTemplate = copyTemplateById('assigned-table-row-template');
      const row = rowTemplate.querySelector('.row');

      let clanName = "알 수 없음";
      if (joinedClan) {
        clanName = joinedClan.name
      }

      row.innerHTML = row.innerHTML
                         .replace(/{PLAYER_NAME}/, name)
                         .replace(/{PLAYER_TAG}/, tag)
                         .replace(/{CLAN_NAME}/, clanName)
                         .replace(/{SCORE}/, trophies);

      const leagueTier = row.querySelector('.league-tier');
      let leagueIconImg = leagueTier.querySelector('.icon');
      if (league) {
        const { iconUrls } = league;
        leagueIconImg.src = iconUrls.small;
      } else {
        const { iconUrls } = leagueMap.get("Unranked");
        leagueIconImg.src = iconUrls.small;
      }

      row.classList.add('player-item', `player-${removeHashTag(tag)}`)

      // set dataset
      row.dataset.name = name;

      return row;
    }

    function appendMember(table, clanAssignedMembers) {
      const tableTbody = table.querySelector('.table-tbody');
      const sortedMembers = sortByTrophies(clanAssignedMembers);
      for (const member of sortedMembers) {
        const memberRow = drawMember(member);
        tableTbody.appendChild(memberRow);
      }
    }

    function makeClanTable(clan, clanAssignedMembers) {
      const tableTemplate = copyTemplateById('assigned-table-template');
      const table = tableTemplate.querySelector('.table');

      const { name, isMaxWar, warDescription, isOccupy } = clan;

      table.innerHTML = table.innerHTML
                             .replace(/{CLAN_NAME}/, name)
                             .replace(/{WAR_TYPE}/, isMaxWar ? "맥스쟁" : "믹스쟁")
                             .replace(/{WAR_DESCRIPTION}/, warDescription ? warDescription : "&nbsp")
                             .replace(/{IS_OCCUPY}/, isOccupy ? "선점제" : "동번제")
                             .replace(/{ASSIGNED_SIZE}/, clanAssignedMembers.length);

      appendMember(table, clanAssignedMembers);

      return table;
    }

    function makeLeagueTable(clan, clanAssignedMembers) {
      const tableTemplate = copyTemplateById('league-assigned-table-template');
      const table = tableTemplate.querySelector('.table');

      let { name, isLeagueOccupy, warLeague } = clan;

      if (clanAssignedMembers.length && clanAssignedMembers.length <= 15) {
        // 리그전 15인전은 선점제로 진행 정책 적용
        isLeagueOccupy = true;
      }

      table.innerHTML = table.innerHTML
                             .replace(/{CLAN_NAME}/, name)
                             .replace(/{WAR_LEAGUE}/, warLeague.name)
                             .replace(/{IS_LEAGUE_OCCUPY}/, isLeagueOccupy ? "선점제" : "동번제")
                             .replace(/{ASSIGNED_SIZE}/, clanAssignedMembers.length);

      const warLeagueIconClassName = warLeague.name.replace(/\s/g, "");
      const imgIconElement = table.querySelector('.war-league .img-icon');
      imgIconElement.classList.add(warLeagueIconClassName);

      appendMember(table, clanAssignedMembers);

      return table;
    }

    function drawClanAssignedTable(viewType, clan, clanAssignedMembers = []) {
      if (viewType === 'league') {
        return makeLeagueTable(clan, clanAssignedMembers);
      }

      return makeClanTable(clan, clanAssignedMembers);
    }

    function getUriForClanWarViewType() {
      const urlSearchParams = new URLSearchParams(location.search);
      return urlSearchParams.get('view');
    }

    async function fetchAssignedMembers(viewType) {
      if (viewType === "league") {
          return await latestLeagueAssignedMembers();
      }

      return await latestClanAssignedMembers();
    }

    function renderAssignedDate(viewType, assignedDate) {
      let isLeagueView = viewType === 'league';

      const assignedLabel = document.querySelector('.assigned-label:not(.loading)');

      if (isLeagueView) {
        const target = assignedLabel.querySelector('.assigned-date');
        if (assignedDate) {
          target.innerHTML = formatYYYYMM(dayjs(assignedDate));
        }
      }

      const viewTypeTarget = assignedLabel.querySelector('.view-type');
      viewTypeTarget.innerHTML = isLeagueView ? "리그전" : "클랜전"

      toggleDisplay(assignedLabel);

      const prefixAssignedLabel = document.querySelector('.assigned-label.loading');
      toggleDisplay(prefixAssignedLabel);
    }

    let leagueMap = new Map();
    async function loadLeagues() {
      // 리그 목록 조회
      const leagues = await fetchLeagues();
      leagues.map(league => {
        leagueMap.set(league.name, league);
      });
    }

    async function fetchViewClans(viewType) {
      const clans = await fetchWarClans(viewType);

      if (viewType === 'league') {
        // 리그 & 클랜 정렬
        return clans.sort((a, b) => {
          const aWarLeague = leagueMap.get(a.warLeague.name);
          const bWarLeague = leagueMap.get(b.warLeague.name);
          return bWarLeague.id - aWarLeague.id || a.order - b.order;
        });
      }

      // 클랜 정렬
      return clans.sort((a, b) => a.order - b.order);
    }

    async function renderJoinedFlag(clan, assignedTable, assignedMembers) {
      const currentJoinedMembers = await fetchClanMembers(clan.tag);
      const currentJoinedMemberMap = convertArrayToMapByKey(currentJoinedMembers)

      for (const member of assignedMembers) {
        const joinMember = currentJoinedMemberMap.get(member.tag);
        if (!joinMember) {
          const row = assignedTable.querySelector(`.player-${removeHashTag(member.tag)}`);
          // row.classList.add('bg-crimson', 'font-white');
          // 가입중인 클랜 표기
          let clanLabel = row.querySelector('.clan-info');
          toggleDisplay(clanLabel);
        }
      }
    }

    async function drawAssignedMember() {
      const viewType = getUriForClanWarViewType();

      showWifiLoading(".section");

      const clans = await fetchViewClans(viewType);
      const clanAssignedMembers = await fetchAssignedMembers(viewType);
      const assignedDate = clanAssignedMembers?.seasonDate;

      renderAssignedDate(viewType, assignedDate);

      const clanAssignedMemberMap = convertAssignedMemberArrayToMapByKey(clanAssignedMembers?.players);

      const assignedTableWrapper = document.querySelector('.assigned-table-wrapper');
      for(const clan of clans) {
        let assignedMembers = clanAssignedMemberMap.get(clan.tag);
        if (!assignedMembers) assignedMembers = [];

        const assignedTable = drawClanAssignedTable(viewType, clan, assignedMembers);
        assignedTableWrapper.appendChild(assignedTable);

        setTimeout(() => renderJoinedFlag(clan, assignedTable, assignedMembers), 100);
      }

      hideWifiLoading(".section");
    }

    function initSearchPlayerName() {
      // search event 등록
      const searchKeyword = document.querySelector('#player-search-input');

      searchKeyword.addEventListener('input', filterPlayer);
    }

    function filterPlayer(event) {
      const keyword = event.target.value.trim();
      const players = document.querySelectorAll('.player-item');

      players.forEach(player => {
        const name = player.dataset.name;

        if (!keyword) {
          // 입력값 없음
          player.classList.remove('display-none');
          player.querySelector('.name').classList.remove('highlight')
        } else if (name.includes(keyword)) {
          // 포함된 계정
          player.classList.remove('display-none');
          player.querySelector('.name').classList.add('highlight')
        } else {
          // 미포함 계정
          player.classList.add('display-none');
          player.querySelector('.name').classList.remove('highlight')
        }
      });
    }

    window.onload = async () => {
      await loadLeagues();

      await drawAssignedMember();

      initSearchPlayerName();
    }
  </script>

</head>
<body>
<div class="section">
  <div id="wifi-loader" class="display-none">
    <svg class="circle-outer" viewBox="0 0 86 86">
      <circle class="back" cx="43" cy="43" r="40"></circle>
      <circle class="front" cx="43" cy="43" r="40"></circle>
      <circle class="new" cx="43" cy="43" r="40"></circle>
    </svg>
    <svg class="circle-middle" viewBox="0 0 60 60">
      <circle class="back" cx="30" cy="30" r="27"></circle>
      <circle class="front" cx="30" cy="30" r="27"></circle>
    </svg>
    <svg class="circle-inner" viewBox="0 0 34 34">
      <circle class="back" cx="17" cy="17" r="14"></circle>
      <circle class="front" cx="17" cy="17" r="14"></circle>
    </svg>
    <div class="text" data-text="Searching"></div>
  </div>

  <div class="assigned-label loading">배정표 불러오는중 ...</div>
  <div class="assigned-label display-none"><div class="assigned-date"></div><div class="view-type"></div><div>배정표</div></div>
  <div class="assigned-legend">
    배정된 클랜에 가입되지 않은 계정은 <div class="clan-info chip">가입중인 클랜</div> 표기
  </div>
  <div class="assigned-legend">
    계정 검색 <input id="player-search-input" class="ml-5 input player-search-input" type="text">
  </div>
  <div class="assigned-table-wrapper"></div>
</div>
</body>
<template id="assigned-table-template">
  <table class="table assigned">
    <caption class="table-caption font-weight-bold text-align-center bg-black">
      <div class="info">
        <div class="clan-name">{CLAN_NAME}</div>
      </div>
    </caption>
    <caption class="table-caption font-weight-bold text-align-center bg-black">
      <div class="description">{WAR_DESCRIPTION}</div>
      <div class="description color-yellow"><div class="">{WAR_TYPE}</div> - <div>{IS_OCCUPY}</div></div>
    </caption>
    <caption class="table-caption font-weight-bold text-align-center bg-black">
      <div class="assigned-size">배정인원: {ASSIGNED_SIZE} 명</div>
    </caption>
    <tbody class="table-tbody"></tbody>
  </table>
</template>
<template id="league-assigned-table-template">
  <table class="table assigned">
    <caption class="table-caption font-weight-bold text-align-center bg-black">
      <div class="info">
        <div class="clan-name">{CLAN_NAME}</div>
      </div>
    </caption>
    <caption class="table-caption font-weight-bold text-align-center bg-black">
      <div class="war-league">
        <div class="img-icon"></div>
        <div class="label font-small">{WAR_LEAGUE}</div>
      </div>
      <div class="description color-yellow">{IS_LEAGUE_OCCUPY}</div>
    </caption>
    <caption class="table-caption font-weight-bold text-align-center bg-black">
      <div>배정인원: {ASSIGNED_SIZE} 명</div>
    </caption>
    <tbody class="table-tbody"></tbody>
  </table>
</template>
<template id="assigned-table-row-template">
  <tr class="table-tr row">
    <td class="table-td">
      <div class="member-info">
        <div class="user-info">
          <div class="league-tier">
            <img class="icon" src="" alt="">
            <div class="score">{SCORE}</div>
          </div>
          <div class="player flex-gap">
            <div class="name">{PLAYER_NAME}</div>
            <div class="chip">{PLAYER_TAG}</div>
            <div class="clan-info chip display-none">{CLAN_NAME}</div>
          </div>
        </div>
      </div>
    </td>
  </tr>
</template>
</html>