<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/static/favicon.ico" />
  <link rel="stylesheet" href="/static/css/common.css" />
  <link rel="stylesheet" href="/static/css/loader.css" />
  <link rel="stylesheet" href="/static/css/clan/member.css" />
  <link rel="stylesheet" href="/static/css/townhall.css" />
  <link rel="stylesheet" href="/static/css/hero.css" />
  <link rel="stylesheet" href="/static/css/heroEquipment.css" />
  <link rel="stylesheet" href="/static/css/pet.css" />

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/static/js/common.js"></script>

  <title>클랜원 현황</title>

  <script>
  function cardClick(e, event) {
      event.preventDefault();
      event.stopPropagation();

      const classList = e.closest('.member.row').classList;

      const activeClassName = 'active';
      if (classList.contains(activeClassName)) {
        classList.remove(activeClassName);
      } else {
        classList.add(activeClassName);
      }

      // 장비 보기 켜져 있으면 닫기
      e.querySelectorAll('.hero.active')
       .forEach((ele) => ele.classList.remove(activeClassName));
    }
    function heroClick(e, event) {
      event.preventDefault();
      event.stopPropagation();

      const classList = e.classList;

      const activeClassName = 'active';

      e.closest('.heroes')
       .querySelectorAll('.hero.active')
       .forEach((ele) => {
         if (ele !== e) {
           //다른 장비가 켜져있으면 닫기
           ele.classList.remove(activeClassName);
         }
       });

      if (classList.contains(activeClassName)) {
        classList.remove(activeClassName);
      } else {
        classList.add(activeClassName);
      }
    }

  async function requestClans() {
      return axios.get('/clans')
           .then((response) => {
             const { data } = response
             if (!data) {
               return [];
             }

             return data;
           })
           .catch((error) => {
             console.error(error);
             return [];
           });
    }

  function deviceArray(array, size) {
      const result = [];
      for (let i = 0; i < array.length; i += size) {
        result.push(array.slice(i, i + size));
      }
      return result;
  }

  function makeClanMemberRequest(clans) {
    const uri = `/clans/members?clanTags=${encodeURIComponent(clans.map(clan => clan.tag))}`;
    return axios.get(uri);
  }

  async function fetchClanMembers(clans) {
      const requests = deviceArray(clans, clans.length/2).map(makeClanMemberRequest);

      let allClanMembers = [];
      await axios.all(requests)
                 .then((responses) => {
                   responses.forEach((response) => {

                     const { data } = response;
                     data.forEach((response) => {
                       const { clanTag, members } = response
                       if (members) {
                         // concat member
                         allClanMembers = allClanMembers.concat(members);
                       }
                     })

                   });
                 })
                 .catch((error) => {
                   console.error(error)
                 })

      return allClanMembers;
    }

    function sortByTrophies(members) {
      // 트로피 순 > 이름 순
      return members.map(member => member)
                    .sort((a, b) => b.trophies - a.trophies || b.name.localeCompare(a.name));
    }

  function sortByHeroLevelSum(members) {
    // 웅합 순 > 트로피 순
    return members.map(member => member)
                  .sort((a, b) => b.heroLevelSum - a.heroLevelSum || b.trophies - a.trophies);
  }

    // 사용자 목록
    const members = []

  function clearClanMembers() {
    const clanMembers = document.querySelector('.clan-members');
    clanMembers.innerHTML = '';
  }

  function drawMember(members) {
    showWifiLoading('.clan-members');
    setTimeout(() => {
      //스크롤 상단 이동
      document.querySelector('.clan-members').scrollTo({
        top: 0
      })
      clearClanMembers();
      renderMembers(members);
      hideWifiLoading('.clan-members');
    }, 500);
  }

  function renderMemberSortByTrophies() {
    const sortedMembers = sortByTrophies(members);
    drawMember(sortedMembers);
  }

  function rederMemberSortByHeroLevelSum() {
    const sortedMembers = sortByHeroLevelSum(members);
    drawMember(sortedMembers)
  }
    async function getClanMembers() {
      showWifiLoading('.clan-members');
      let clans = await requestClans();

      const clanMembers = await fetchClanMembers(clans);
      members.push(...clanMembers);

      await fetchPlayerDetail(members);
      hideWifiLoading('.clan-members');

      renderMemberSortByTrophies();
    }

    function calcHeroLevelSum(heroes) {
      if (!heroes) return 0;
      return heroes.filter(hero => hero.village === 'home')
                   .reduce((levelSum, hero) => {
                     levelSum += hero.level
                     return levelSum
                   }, 0)
    }

    function overridePlayer(memberMap, member) {
      let fetchMember = memberMap[member.tag]
      if (fetchMember) {
        fetchMember = Object.assign(fetchMember, member)

        fetchMember.heroLevelSum = calcHeroLevelSum(fetchMember.heroes);

        Object.assign(member, fetchMember); //member override
      }

    }

  function makePlayerRequest(players) {
    const uri = `/players?playerTags=${encodeURIComponent(players.map(player => player.tag))}`
    return axios.get(uri);
  }

  async function fetchPlayerDetail(members) {
      const requests = deviceArray(members, members.length/3).map(makePlayerRequest);
      return await axios.all(requests)
                  .then((responses) => {
                    responses.forEach((response) => {
                      const { data } = response
                      if (!data) {
                        return;
                      }

                      const memberMap = makeMemberMapByTag(data);

                      for (let member of members) {
                        overridePlayer(memberMap, member);
                      }
                    })
                  })
                  .catch((error) => {
                    console.error(error);
                    return {};
                  });
    }

    function makeMemberMapByTag(clanMembers) {
      return clanMembers.reduce((memberMap, member) => {
        memberMap[member.tag] = member
        return memberMap
      }, {});
    }

    function renderEquipments(heroElement, equipments) {
      const equipmentWrapperElement = heroElement.querySelector('.equipment-wrapper');

      for(const equipment of equipments) {
        renderImgIcon(equipmentWrapperElement, equipment);
      }
    }

    function renderHero(memberHtml, hero) {
      const { name, level, maxLevel, village, equipments } = hero;

      // 본 마을 영웅만 표기
      if (village !== 'home') return;

      const heroesElement = memberHtml.querySelector('.inner-section .heroes');
      const memberHeroTemplate = document.querySelector('#member-hero');
      const memberHero = document.importNode(memberHeroTemplate.content, true);
      const heroElement = memberHero.querySelector('.hero');


      let heroIconClassName = name.toLowerCase().replace(/\s/g, "_")
      heroElement.classList.add(heroIconClassName);

      heroElement.innerHTML = heroElement.innerHTML
                                         .replace(/{LEVEL}/, level)
                                         .replace(/{IS_MAX}/, level === maxLevel ? 'is-max' : '');

      heroesElement.appendChild(heroElement);

      renderEquipments(heroElement, equipments)
    }

    function renderHeroes(memberHtml, player) {
      const { heroes } = player
      if (!heroes) return;

      for (const hero of heroes) {
        renderHero(memberHtml, hero);
      }
    }


    function renderHeroEquipments(memberHtml, player) {
      const { heroEquipments } = player
      if (!heroEquipments || !heroEquipments.length) return;

      const innerSectionTemplate = document.querySelector('#inner-section');

      const innerSection = document.importNode(innerSectionTemplate.content, true);
      const innerSectionElement = innerSection.querySelector('.inner-section');

      innerSectionElement.innerHTML = innerSectionElement.innerHTML
                                                         .replace(/{LABEL}/, '영웅 장비');

      const contentsElement = innerSectionElement.querySelector('.contents');
      for (const heroEquipment of heroEquipments) {
        renderImgIcon(contentsElement, heroEquipment);
      }

      const cardBackElement = memberHtml.querySelector('.card-back');
      cardBackElement.appendChild(innerSectionElement);
    }

    function renderImgIcon(contentsElement, icon) {
      const { name, level, maxLevel, village } = icon;

      // 본 마을 영웅 장비만 표기
      if (village !== 'home') return;

      const iconsTemplate = document.querySelector('#icons');
      const icons = document.importNode(iconsTemplate.content, true);
      const imgIconElement = icons.querySelector('.img-icon');

      let equipmentIconClassName = name.toLowerCase()
                                       .replace(/\s/g, "_")
                                       .replace(/\./g, "");

      imgIconElement.classList.add(equipmentIconClassName);

      imgIconElement.innerHTML = imgIconElement.innerHTML
                                               .replace(/{LEVEL}/, level)
                                               .replace(/{IS_MAX}/, level === maxLevel ? 'is-max' : '');

      contentsElement.appendChild(imgIconElement);
    }

    function renderPets(memberHtml, player) {
      const { pets } = player
      if (!pets || !pets.length) return;

      const innerSectionTemplate = document.querySelector('#inner-section');

      const innerSection = document.importNode(innerSectionTemplate.content, true);
      const innerSectionElement = innerSection.querySelector('.inner-section');

      innerSectionElement.innerHTML = innerSectionElement.innerHTML
                                                         .replace(/{LABEL}/, '펫');

      const contentsElement = innerSectionElement.querySelector('.contents');
      for (const pet of pets) {
        renderImgIcon(contentsElement, pet);
      }

      const cardBackElement = memberHtml.querySelector('.card-back');
      cardBackElement.appendChild(innerSectionElement);
    }

    function renderMembers(members) {
      const clanMembersElement = document.querySelector('.clan-members');

      const memberTemplate = document.querySelector('#member');
      let no = clanMembersElement.children.length + 1;
      for(const player of members) {
        const templateMember = document.importNode(memberTemplate.content, true);
        const memberHtml = templateMember.querySelector('.member');

        const { name, tag, clan, townHallLevel, expLevel, heroLevelSum, league, trophies, donations, donationsReceived } = player

        memberHtml.innerHTML = memberHtml.innerHTML
                                         .replace(/{NAME}/, `${no}. ${name}`)
                                         .replace(/{CLAN_NAME}/, clan.name)
                                         .replace(/{TROPHIES}/, trophies)
                                         .replace(/{TOWN_HALL_LEVEL}/, townHallLevel)
                                         .replace(/{EXP_LEVEL}/, expLevel)
                                         .replace(/{HERO_LEVEL}/, heroLevelSum)
                                         .replace(/{IS_HERO_MAX_LEVEL}/, heroLevelSum === 305 ? 'is-max' : '')
                                         .replace(/{DONATIONS}/, Number(donations).toLocaleString())
                                         .replace(/{DONATIONS_RECEIVED}/, Number(donationsReceived).toLocaleString());

        const leagueIconImg = memberHtml.querySelector('.cell.league-icon');
        const { iconUrls } = league
        leagueIconImg.src = iconUrls.tiny;

        clanMembersElement.appendChild(memberHtml);
        no++;

        renderHeroes(memberHtml, player);
        renderHeroEquipments(memberHtml, player);
        renderPets(memberHtml, player);
      }
    }

    window.onload = () => {
      getClanMembers();
    }
  </script>
</head>
<body>
  <div class="content-wrapper">
    <div id="wifi-loader" class="display-none">
      <svg class="circle-outer" viewBox="0 0 86 86">
        <circle class="back" cx="43" cy="43" r="40"></circle>
        <circle class="front" cx="43" cy="43" r="40"></circle>
        <circle class="new" cx="43" cy="43" r="40"></circle>
      </svg>
      <svg class="circle-middle" viewBox="0 0 60 60">
        <circle class="back" cx="30" cy="30" r="27"></circle>
        <circle class="front" cx="30" cy="30" r="27"></circle>
      </svg>
      <svg class="circle-inner" viewBox="0 0 34 34">
        <circle class="back" cx="17" cy="17" r="14"></circle>
        <circle class="front" cx="17" cy="17" r="14"></circle>
      </svg>
      <div class="text" data-text="Searching"></div>
    </div>

    <div class="support-area">
      <div class="container">
        <div class="radio-tile-group">
          <div class="input-container">
            <input id="trophies" class="radio-button" type="radio" name="radio" checked onchange="renderMemberSortByTrophies();">
            <div class="radio-tile">
              <div class="icon trophies"></div>
              <label for="trophies" class="radio-tile-label">트로피순</label>
            </div>
          </div>

          <div class="input-container">
            <input id="hero-level-sum" class="radio-button" type="radio" name="radio" onchange="rederMemberSortByHeroLevelSum();">
            <div class="radio-tile">
              <div class="icon hero barbarian_king"></div>
              <label for="hero-level-sum" class="radio-tile-label">웅합순</label>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="clan-members"></div>
  </div>
</body>
<template id="member">
  <div class="member row" onclick="cardClick(this, event); return false;">
    <div class="card-front">
      <div class="layout-title">
        <div class="cell">
          <div class="user">{NAME}</div>
          <div class="label-clan">{CLAN_NAME}</div>
        </div>
        <div class="cell trophies">
          <div class="count">
            {TROPHIES}
            <div class="icon"></div>
          </div>
        </div>
      </div>
      <div class="inner-section">
        <div class="layout-badge">
          <img class="cell league-icon" src="" alt="">
          <div class="cell town-hall th{TOWN_HALL_LEVEL}"></div>
          <div class="cell xp"><span class="level">{EXP_LEVEL}</span></div>
        </div>
        <div class="layout-donations">
          <div class="cell donations">
            <span class="label">지원</span>
            <span class="count">{DONATIONS}</span>
          </div>
          <div class="cell donations-received">
            <span class="label">받음</span>
            <span class="count">{DONATIONS_RECEIVED}</span>
          </div>
        </div>
      </div>
      <div class="inner-section hero-wrapper">
        <div class="label">
          <div class="level-icon {IS_HERO_MAX_LEVEL}">{HERO_LEVEL}</div>
        </div>
        <div class="heroes"></div>
      </div>
    </div>
    <div class="card-back"></div>
  </div>
</template>
<template id="inner-section">
  <div class="inner-section">
    <div class="label">{LABEL}</div>
    <div class="contents"></div>
  </div>
</template>
<template id="member-hero">
  <div class="hero" onclick="heroClick(this, event); return false;">
    <div class="level-icon {IS_MAX}">{LEVEL}</div>
    <div class="equipment-wrapper"></div>
  </div>
</template>
<template id="icons">
  <div class="img-icon">
    <div class="level-icon {IS_MAX}">{LEVEL}</div>
  </div>
</template>
</html>