<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/common.css" />
  <link rel="stylesheet" href="/static/css/loader.css" />
  <link rel="stylesheet" href="/static/css/clan/member.css" />
  <link rel="stylesheet" href="/static/css/townhall.css" />
  <link rel="stylesheet" href="/static/css/hero.css" />
  <link rel="stylesheet" href="/static/css/heroEquipment.css" />
  <link rel="stylesheet" href="/static/css/pet.css" />

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/static/js/common.js"></script>

  <title>클랜원 현황</title>

  <script>
    function cardClick(e, event) {
      event.preventDefault();
      event.stopPropagation();

      const classList = e.closest('.member.row').classList;

      const activeClassName = 'active';
      if (classList.contains(activeClassName)) {
        classList.remove(activeClassName);
      } else {
        classList.add(activeClassName);
      }

      // 장비 보기 켜져 있으면 닫기
      e.querySelectorAll('.hero.active')
       .forEach((ele) => ele.classList.remove(activeClassName));
    }
    function heroClick(e, event) {
      event.preventDefault();
      event.stopPropagation();

      const classList = e.classList;

      const activeClassName = 'active';

      e.closest('.heroes')
       .querySelectorAll('.hero.active')
       .forEach((ele) => {
         if (ele !== e) {
           //다른 장비가 켜져있으면 닫기
           ele.classList.remove(activeClassName);
         }
       });

      if (classList.contains(activeClassName)) {
        classList.remove(activeClassName);
      } else {
        classList.add(activeClassName);
      }
    }

  async function requestClans() {
      return axios.get('/clans')
           .then((response) => {
             const { data } = response
             if (!data) {
               return [];
             }

             return data;
           })
           .catch((error) => {
             console.error(error);
             return [];
           });
    }
    function getRequestClanMembersByClan(clan) {
      const uri = `/clans/${encodeURIComponent(clan.tag)}/members`
      return axios.get(uri,
          {
            params: {
              clan: JSON.stringify(clan)
            }
          });
    }

    async function fetchClanMembers(clans) {
      const requests = clans.map(clan => getRequestClanMembersByClan(clan))

      let members = [];
      await axios.all(requests)
                 .then((responses) => {
                   responses.forEach((response) => {
                     const { config, data } = response
                     if (data.members) {
                       // set clan
                       const clan = JSON.parse(config.params.clan)
                       data.members.forEach((member) => member.clan = clan)

                       // concat member
                       members = members.concat(data.members);
                     }
                   })
                 })
                 .catch((error) => {
                   console.error(error)
                 })

      return members;
    }

    function sortByTrophies(members) {
      return members.map(member => member)
                    .sort(function (a, b) {
                      if (a.trophies < b.trophies) {
                        return 1;
                      }
                      if (a.trophies > b.trophies) {
                        return -1;
                      }
                      // a must be equal to b
                      return 0;
                    });
    }

    // 화면에서 페이징 구성 처리
    const members = []
    let drawMembers;

    function drawPagingMembers(members) {
      const PER_PAGE = 10;
      const writeMembers = members.splice(0, PER_PAGE);
      renderMembers(writeMembers)

    }

    async function getClanMembers() {
      showWifiLoading('.content-wrapper');
      let clans = await requestClans();

      members.push(... await fetchClanMembers(clans));
      hideWifiLoading('.content-wrapper');

      drawMembers = sortByTrophies(members)

      drawPagingMembers(drawMembers);
    }

    function fetchPlayer(tag) {
      const uri = `/players/${encodeURIComponent(tag)}`;

      return axios.get(uri)
                  .then((response) => {
                    const { data } = response
                    if (!data) {
                      return {};
                    }

                    return data;
                  })
                  .catch((error) => {
                    console.error(error);
                    return {};
                  });
    }

    function renderEquipments(heroElement, equipments) {
      const equipmentWrapperElement = heroElement.querySelector('.equipment-wrapper');

      for(const equipment of equipments) {
        renderImgIcon(equipmentWrapperElement, equipment);
      }
    }

    function renderHero(memberHtml, hero) {
      const { name, level, maxLevel, village, equipments } = hero;

      // 본 마을 영웅만 표기
      if (village !== 'home') return;

      const heroesElement = memberHtml.querySelector('.inner-section.heroes');
      const memberHeroTemplate = document.querySelector('#member-hero');
      const memberHero = document.importNode(memberHeroTemplate.content, true);
      const heroElement = memberHero.querySelector('.hero');


      let heroIconClassName = name.toLowerCase().replace(/\s/g, "_")
      heroElement.classList.add(heroIconClassName);

      heroElement.innerHTML = heroElement.innerHTML
                                         .replace(/{LEVEL}/, level)
                                         .replace(/{IS_MAX}/, level === maxLevel ? 'is-max' : '');

      heroesElement.appendChild(heroElement);

      renderEquipments(heroElement, equipments)
    }

    function renderHeroes(memberHtml, player) {
      const { heroes } = player
      if (!heroes) return;

      for (const hero of heroes) {
        setTimeout(() => {
          renderHero(memberHtml, hero);
        }, 0)
      }
    }


    function renderHeroEquipments(memberHtml, player) {
      const { heroEquipments } = player
      if (!heroEquipments || !heroEquipments.length) return;

      const innerSectionTemplate = document.querySelector('#inner-section');

      const innerSection = document.importNode(innerSectionTemplate.content, true);
      const innerSectionElement = innerSection.querySelector('.inner-section');

      innerSectionElement.innerHTML = innerSectionElement.innerHTML
                                                         .replace(/{LABEL}/, '영웅 장비');

      const contentsElement = innerSectionElement.querySelector('.contents');
      for (const heroEquipment of heroEquipments) {
        renderImgIcon(contentsElement, heroEquipment);
      }

      const cardBackElement = memberHtml.querySelector('.card-back');
      cardBackElement.appendChild(innerSectionElement);

      // 로딩바 제거
      cardBackElement.querySelector('.loader-circle').remove();
    }

    function renderImgIcon(contentsElement, icon) {
      const { name, level, maxLevel, village } = icon;

      // 본 마을 영웅 장비만 표기
      if (village !== 'home') return;

      const iconsTemplate = document.querySelector('#icons');
      const icons = document.importNode(iconsTemplate.content, true);
      const imgIconElement = icons.querySelector('.img-icon');

      let equipmentIconClassName = name.toLowerCase()
                                       .replace(/\s/g, "_")
                                       .replace(/\./g, "");

      imgIconElement.classList.add(equipmentIconClassName);

      imgIconElement.innerHTML = imgIconElement.innerHTML
                                               .replace(/{LEVEL}/, level)
                                               .replace(/{IS_MAX}/, level === maxLevel ? 'is-max' : '');

      contentsElement.appendChild(imgIconElement);
    }

    function renderPets(memberHtml, player) {
      const { pets } = player
      if (!pets || !pets.length) return;

      const innerSectionTemplate = document.querySelector('#inner-section');

      const innerSection = document.importNode(innerSectionTemplate.content, true);
      const innerSectionElement = innerSection.querySelector('.inner-section');

      innerSectionElement.innerHTML = innerSectionElement.innerHTML
                                                         .replace(/{LABEL}/, '펫');

      const contentsElement = innerSectionElement.querySelector('.contents');
      for (const pet of pets) {
        renderImgIcon(contentsElement, pet);
      }

      const cardBackElement = memberHtml.querySelector('.card-back');
      cardBackElement.appendChild(innerSectionElement);
    }

    async function renderPlayerDetail(memberHtml, tag) {
      fetchPlayer(tag).then((player) => {
        renderHeroes(memberHtml, player);
        renderHeroEquipments(memberHtml, player);
        renderPets(memberHtml, player);
      })

    }

    function renderMembers(members) {
      const clanMembersElement = document.querySelector('.clan-members');
      const loaderElement = document.querySelector('.clan-members .loader-circle.list');

      const memberTemplate = document.querySelector('#member');
      let no = clanMembersElement.children.length;
      for(const member of members) {
        const templateMember = document.importNode(memberTemplate.content, true);
        const memberHtml = templateMember.querySelector('.member');

        const { name, tag, clan, townHallLevel, expLevel, league, trophies, donations, donationsReceived } = member

        memberHtml.innerHTML = memberHtml.innerHTML
                                         .replace(/{NAME}/, `${no}. ${name}`)
                                         .replace(/{CLAN_NAME}/, clan.name)
                                         .replace(/{TROPHIES}/, trophies)
                                         .replace(/{TOWN_HALL_LEVEL}/, townHallLevel)
                                         .replace(/{EXP_LEVEL}/, expLevel)
                                         .replace(/{DONATIONS}/, Number(donations).toLocaleString())
                                         .replace(/{DONATIONS_RECEIVED}/, Number(donationsReceived).toLocaleString());

        const leagueIconImg = memberHtml.querySelector('.cell.league-icon');
        const { iconUrls } = league
        leagueIconImg.src = iconUrls.tiny;

        clanMembersElement.insertBefore(memberHtml, loaderElement);
        no++;

        setTimeout(() => {
          renderPlayerDetail(memberHtml, tag);
        }, 0)
      }
    }

    window.onload = () => {
      getClanMembers()

      document.querySelector('.clan-members')
              .addEventListener("scroll", (event) => {
                const scrollHeight = event.currentTarget.scrollHeight;
                const scrollPosition = event.currentTarget.scrollTop + event.currentTarget.clientHeight;
                if (scrollPosition >= scrollHeight) {
                  if (!drawMembers.length) {
                    // 모두 표시된 경우
                    const loaderElement = document.querySelector('.clan-members .loader-circle.list');
                    loaderElement.classList.add('display-none');
                    return;
                  }

                  setTimeout(() => {
                    drawPagingMembers(drawMembers);
                  }, 500)
                }
              })
    }
  </script>
</head>
<body>
  <div class="content-wrapper">
    <div id="wifi-loader" class="display-none">
      <svg class="circle-outer" viewBox="0 0 86 86">
        <circle class="back" cx="43" cy="43" r="40"></circle>
        <circle class="front" cx="43" cy="43" r="40"></circle>
        <circle class="new" cx="43" cy="43" r="40"></circle>
      </svg>
      <svg class="circle-middle" viewBox="0 0 60 60">
        <circle class="back" cx="30" cy="30" r="27"></circle>
        <circle class="front" cx="30" cy="30" r="27"></circle>
      </svg>
      <svg class="circle-inner" viewBox="0 0 34 34">
        <circle class="back" cx="17" cy="17" r="14"></circle>
        <circle class="front" cx="17" cy="17" r="14"></circle>
      </svg>
      <div class="text" data-text="Searching"></div>
    </div>


    <div class="clan-members">
      <div class="loader-circle list">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div class="bar4"></div>
        <div class="bar5"></div>
        <div class="bar6"></div>
        <div class="bar7"></div>
        <div class="bar8"></div>
        <div class="bar9"></div>
        <div class="bar10"></div>
        <div class="bar11"></div>
        <div class="bar12"></div>
      </div>
    </div>
  </div>
</body>
<template id="member">
  <div class="member row" onclick="cardClick(this, event); return false;">
    <div class="card-front">
      <div class="layout-title">
        <div class="cell">
          <div class="user">{NAME}</div>
          <div class="label-clan">{CLAN_NAME}</div>
        </div>
        <div class="cell trophies">
          <div class="count">
            {TROPHIES}
            <div class="icon"></div>
          </div>
        </div>
      </div>
      <div class="inner-section">
        <div class="layout-badge">
          <img class="cell league-icon" src="" alt="">
          <div class="cell town-hall th{TOWN_HALL_LEVEL}"></div>
          <div class="cell xp"><span class="level">{EXP_LEVEL}</span></div>
        </div>
        <div class="layout-donations">
          <div class="cell donations">
            <span class="label">지원</span>
            <span class="count">{DONATIONS}</span>
          </div>
          <div class="cell donations-received">
            <span class="label">받음</span>
            <span class="count">{DONATIONS_RECEIVED}</span>
          </div>
        </div>
      </div>
      <div class="inner-section heroes"></div>
    </div>
    <div class="card-back">
      <div class="loader-circle">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div class="bar4"></div>
        <div class="bar5"></div>
        <div class="bar6"></div>
        <div class="bar7"></div>
        <div class="bar8"></div>
        <div class="bar9"></div>
        <div class="bar10"></div>
        <div class="bar11"></div>
        <div class="bar12"></div>
      </div>
    </div>
  </div>
</template>
<template id="inner-section">
  <div class="inner-section">
    <div class="label">{LABEL}</div>
    <div class="contents"></div>
  </div>
</template>
<template id="member-hero">
  <div class="hero" onclick="heroClick(this, event); return false;">
    <div class="level-icon {IS_MAX}">{LEVEL}</div>
    <div class="equipment-wrapper"></div>
  </div>
</template>
<template id="icons">
  <div class="img-icon">
    <div class="level-icon {IS_MAX}">{LEVEL}</div>
  </div>
</template>
</html>