<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
  <link rel="stylesheet" href="/static/css/common.css" />
  <link rel="stylesheet" href="/static/css/townhall.css" />
  <link rel="stylesheet" href="/static/css/card.css" />
  <link rel="stylesheet" href="/static/css/loader.css" />
  <link rel="stylesheet" href="/static/css/clan/war.css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/dayjs.min.js" integrity="sha512-FwNWaxyfy2XlEINoSnZh1JQ5TRRtGow0D6XcmAWmYCRgvqOUTnzCxPc9uF35u5ZEpirk1uhlPVA19tflhvnW1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/plugin/duration.min.js" integrity="sha512-t0b2NyBypSms8nA81pldWo0mXbfMotsdYgvs4awmbi/GU/25YBNLnXj+I9DAMV7WGZ8+z8wtRolX7zSF2LN8UQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    //dayjs duration 확장
    dayjs.extend(dayjs_plugin_duration)
  </script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/static/js/common.js"></script>
  <script type="text/javascript">
    function initCardSlide() {
      const cardContents = document.querySelectorAll(".card-contents");
      const buttons = document.querySelectorAll(".button");

      let cardIndex = 0;

      const showCard = () => {
        showWifiLoading('.card-container');

        cardIndex = cardIndex === cardContents.length ? 0 : cardIndex < 0 ? cardContents.length - 1 : cardIndex;

        const targetClanWar = document.querySelector(`.clan-${cardIndex}`);
        const clanWarContent = targetClanWar.querySelector('.clan-war');

        const templateClanWar = document.importNode(document.getElementById('section-clan-war').content, true);
        const clanWarContents = templateClanWar.querySelector('.card-contents');

        clanWarContents.classList.add(`clan-${cardIndex}`)
        clanWarContents.innerHTML = clanWarContents.innerHTML
                                                   .replace(/{CLAN_TAG}/, clanWarContent.dataset.clanTag)
                                                   .replace(/{CLAN_NAME}/g, clanWarContent.dataset.clanName);

        settingClanWar(clanWarContents, clanWarContent.dataset.clanTag).then(() => {
          targetClanWar.innerHTML = clanWarContents.innerHTML;

          cardContents.forEach(cardContent => cardContent.classList.add('display-none'));
          cardContents[cardIndex].classList.remove('display-none');

          hideWifiLoading('.card-container');
        })
      };

      const updateClick = (e) => {
        cardIndex += e.target.id === "next" ? 1 : -1;
        showCard()
      }

      buttons.forEach(button => button.addEventListener("click", updateClick))
    }

    function makeMemberMapByTag(clanMembers) {
      return clanMembers.reduce((memberMap, member) => {
        memberMap[member.tag] = member
        return memberMap
      }, {});
    }

    function getSumByStars(attacks) {
      return attacks.reduce((starsSum, attack) => {
        starsSum += attack.stars
        return starsSum
      }, 0)
    }

    function appendAttackList(attackListElement, attacks, opponentMemberMap, attacksPerMember) {

      if (!attacks.length) {
        appendNotAttackRows(attacksPerMember);
        return
      }

      const templateMember = document.getElementById('section-member-attack');

      for (attack of attacks) {

        const cloneTemplateMemberAttack = document.importNode(templateMember.content, true);
        const attackInfoElement = cloneTemplateMemberAttack.querySelector('.attack-info');

        const { attackerTag, defenderTag, destructionPercentage, duration, stars} = attack;

        const opponentMember = opponentMemberMap[defenderTag]
        attackInfoElement.innerHTML = attackInfoElement.innerHTML
                                                       .replace(/{OPPONENT_NAME}/, opponentMember.name)
                                                       .replace(/{DESTRUCTION_PERCENTAGE}/, destructionPercentage)
                                                       .replace(/{DESTRUCTION_DURATION}/, formatMinuteSecond(duration))

        const starElements = attackInfoElement.querySelectorAll('.fa-star');
        for (let i=0; i<stars; i++) {
          starElements[i].classList.add('fill');
        }

        attackListElement.appendChild(attackInfoElement);
      }

      appendNotAttackRows(attacksPerMember - attacks.length)

      function formatMinuteSecond(sec) {
        return dayjs.duration(sec * 1000).format('m분 ss초');
      }

      function appendNotAttackRows(rowCount) {
        const templateMemberNotAttack = document.getElementById('section-member-not-attack');
        for (let i=0; i<rowCount; i++) {
          const memberNotAttackHtml = document.importNode(templateMemberNotAttack.content, true);
          const attackInfoElement = memberNotAttackHtml.querySelector('.attack-info');
          attackInfoElement.innerHTML = attackInfoElement.innerHTML
                                                         .replace(/{ATTACK_NO}/, `공격${i+1}`);

          attackListElement.appendChild(attackInfoElement);
        }
      }
    }

    function settingMemberAttack(memberAttackHtml, clanMembers, opponentMembers, attacksPerMember) {
      const opponentMemberMap = makeMemberMapByTag(opponentMembers);

      const templateMember = document.getElementById('section-member');

      for(member of clanMembers) {

        const cloneTemplateMember = document.importNode(templateMember.content, true);
        const memberElement = cloneTemplateMember.querySelector('.member');

        const { name, tag, townHallLevel, mapPosition, attacks } = member;
        const totalStars = getSumByStars(attacks);
        memberElement.innerHTML = memberElement.innerHTML
                                               .replace(/{USER_HALL_LEVEL}/, townHallLevel)
                                               .replace(/{USER_NAME}/, `${mapPosition}. ${name}`)
                                               .replace(/{USER_STARS}/, totalStars)

        const attackListElement = cloneTemplateMember.querySelector('.attack-list');
        appendAttackList(attackListElement, attacks, opponentMemberMap, attacksPerMember);

        memberAttackHtml.appendChild(memberElement)
      }
    }

    function sortByMapPosition(members) {
      return members.sort(function (a, b) {
        if (a.mapPosition > b.mapPosition) {
          return 1;
        }
        if (a.mapPosition < b.mapPosition) {
          return -1;
        }
        // a must be equal to b
        return 0;
      });
    }

    async function settingClanWar(clanWarContentsElement, clanTag) {
      const uri = `/clans/${encodeURIComponent(clanTag)}/current/war`

      await axios.get(uri)
                 .then((response) => {
                   const { data } = response;
                   const { clan, opponent, startTime, endTime, state, teamSize, attacksPerMember } = data

                   clanWarContentsElement.innerHTML = clanWarContentsElement.innerHTML
                                                                            .replace(/{CLAN_STAR_COUNT}/, clan.stars)
                                                                            .replace(/{CLAN_ATTACK}/, clan.attacks)
                                                                            .replace(/{CLAN_TOTAL_ATTACK}/, teamSize * attacksPerMember)
                                                                            .replace(/{WAR_REMAIN_HOUR_MINUTE}/, formatWarRemainHourMinute(endTime))
                                                                            .replace(/{WAR_STATE}/, convWarState(state))
                                                                            .replace(/{OPPONENT_NAME}/, opponent.name ? opponent.name : "")
                                                                            .replace(/{OPPONENT_STAR_COUNT}/, opponent.stars)
                                                                            .replace(/{OPPONENT_ATTACK}/, opponent.attacks)
                                                                            .replace(/{OPPONENT_TOTAL_ATTACK}/, teamSize * attacksPerMember);

                   const clanIcon = clanWarContentsElement.querySelector('.clan-icon .clan');
                   clanIcon.src = clan.badge.small

                   const opponentIcon = clanWarContentsElement.querySelector('.clan-icon .opponent');
                   opponentIcon.src = opponent.badge.small

                   let memberAttackHtml = clanWarContentsElement.querySelector('.member-attack');
                   settingMemberAttack(memberAttackHtml, sortByMapPosition(clan.members), opponent.members, attacksPerMember)
                 })
                 .catch((error) => {
                   console.error(error);
                 });

      function convWarState(state) {
        switch(state) {
          case 'preparation': return '준비일';
          case 'inWar': return '전쟁중';
          case 'notInWar': return "전쟁중이 아님";
          case 'warEnded': return '전쟁 종료';
        }
        return state;
      }

      function formatWarRemainHourMinute(endTime) {
        const now = dayjs();
        const endDateTime = dayjs(endTime);

        if (now > endDateTime) {
          return "";
        }

        return dayjs.duration(endDateTime.diff(dayjs())).format("H시 mm분");
      }
    }

    function getClans() {
      showWifiLoading('.card-container');

      axios.get('/clans/war')
           .then((response) => {
             const { data } = response;

             const carousel = document.querySelector(".carousel");
             for (let index = 0; index<data.length; index++) {
               const { tag, name } = data[index];

               const templateClanWar = document.importNode(document.getElementById('section-clan-war').content, true);
               const clanWarContents = templateClanWar.querySelector('.card-contents');

               clanWarContents.classList.add(`clan-${index}`, 'display-none');
               clanWarContents.innerHTML = clanWarContents.innerHTML
                                                          .replace(/{CLAN_TAG}/, tag)
                                                          .replace(/{CLAN_NAME}/g, name);

               if (index === 0) {
                 settingClanWar(clanWarContents, tag).then(() => hideWifiLoading('.card-container'))
                 clanWarContents.classList.remove('display-none');
               }

               carousel.appendChild(templateClanWar);
             }

             initCardSlide();
           })
           .catch((error) => {
             console.error(error);
           });
    }

  </script>
  <title>클랜전 현황</title>
</head>
<body onload="getClans()">
  <section class="card-wrapper" >
    <div id="wifi-loader" class="display-none">
      <svg class="circle-outer" viewBox="0 0 86 86">
        <circle class="back" cx="43" cy="43" r="40"></circle>
        <circle class="front" cx="43" cy="43" r="40"></circle>
        <circle class="new" cx="43" cy="43" r="40"></circle>
      </svg>
      <svg class="circle-middle" viewBox="0 0 60 60">
        <circle class="back" cx="30" cy="30" r="27"></circle>
        <circle class="front" cx="30" cy="30" r="27"></circle>
      </svg>
      <svg class="circle-inner" viewBox="0 0 34 34">
        <circle class="back" cx="17" cy="17" r="14"></circle>
        <circle class="front" cx="17" cy="17" r="14"></circle>
      </svg>
      <div class="text" data-text="Searching"></div>
    </div>

    <i class="fa-solid fa-arrow-left button" id="prev"></i>
    <div class="card-container">
      <div class="carousel"></div>
    </div>
    <i class="fa-solid fa-arrow-right button" id="next"></i>
  </section>
</body>

<template id="section-clan-war">
  <div class="card-contents">
    <div class="clan-war" data-clan-tag="{CLAN_TAG}" data-clan-name="{CLAN_NAME}">
      <div class="summary">
        <div class="clan">
          <div class="name">{CLAN_NAME}</div>
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <span class="count">{CLAN_STAR_COUNT}</span>
          </div>
          <div class="attacks">{CLAN_ATTACK}/{CLAN_TOTAL_ATTACK}</div>
        </div>
        <div class="war-info">
          <div class="clan-icon">
            <img class="clan" alt="" />
            <img class="opponent" alt="" />
          </div>
          <div class="war-remaining-time">
            {WAR_REMAIN_HOUR_MINUTE}
          </div>
          <div class="war-state">
            {WAR_STATE}
          </div>
        </div>
        <div class="opponent">
          <div class="name">{OPPONENT_NAME}</div>
          <div class="stars">
            <span class="count">{OPPONENT_STAR_COUNT}</span>
            <i class="fa-solid fa-star"></i>
          </div>
          <div class="attacks">{OPPONENT_ATTACK}/{OPPONENT_TOTAL_ATTACK}</div>
        </div>
      </div>

      <div class="member-attack"></div>
    </div>
  </div>
</template>
<template id="section-member">
  <div class="member">

    <div class="layout-title">
      <div class="user">
        <div class="town-hall th{USER_HALL_LEVEL}"></div>
        <div class="title">
          <div class="name">{USER_NAME}</div>
<!--          <div class="role">{USER_ROLE}</div>-->
        </div>
      </div>
      <div class="info">
        <div class="total-stars">
          <i class="fa-solid fa-star"></i>
          <span class="count">{USER_STARS}</span>
        </div>
      </div>
    </div>

    <div class="layout-body">
      <div class="attack-list"></div>
    </div>
  </div>
</template>
<template id="section-member-attack">
  <div class="attack-info">
    <div class="name">{OPPONENT_NAME}</div>
    <div class="destruction-percentage">{DESTRUCTION_PERCENTAGE}%</div>
    <div class="stars">
      <i class="fa-solid fa-star fa-xs"></i>
      <i class="fa-solid fa-star fa-xs"></i>
      <i class="fa-solid fa-star fa-xs"></i>
    </div>
    <div class="duration">{DESTRUCTION_DURATION}</div>
  </div>
</template>

<template id="section-member-not-attack">
  <div class="attack-info not">
    <div class="name">{ATTACK_NO}</div>
    <div class="message">사용 안함</div>
  </div>
</template>
</html>